body {color: deeppink;background-color: #c7e6fd;font-family: "Creepster", Cursive;
}
img {
    height: 100%;
    width: 98%;
    text-align: center;
}
title {color: deeppink;}
p.tool span{ display: none;background-color: powderblue;color:deeppink;}
p.tool:hover span {display: block;}
a title {color: deeppink;}
.c {
    height: 200px;
    width: 200px;
}
.n{
    float: right;
    height: 100px;
    width: 100px;
}
.n2{
    float: left;
    height: 100px;
    width: 100px;
}
.n3{
    height: 100px;
    width: 100px;
}
.r {
    float: right;
    height: 200px;
    width: 200px;  }
.daewoo {
    float: left;
    height: 200px;
    width: 200px;  }
.masterr {

    height: 300px;
    width: 320px;  }
a{
    display: block;
    text-decoration: none;
    color: deeppink;
}
a:hover {
    color:yellow;
    text-decoration: none;
}
hr {
    width: 90%;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: deeppink; /* old IE */
    background-color:deeppink; /* Modern Browsers */}
