@import url('https://fonts.googleapis.com/css?family=Creepster');

body {
    font: 14px, "Creepster", Cursive;
    letter-spacing: 0.1em;
    line-height: 2;
}

/*.pic{float:right;
    width:200px;
    height:240px;
    background: url("/images/three_img/lady/qpep.jpg") no-repeat center;
    background-size: 130px 200px;
    margin-right: 40px;
    margin-left: 60px;
}*/
.pic {
    float: right;
    width:140px;
    height:200px;
    background: url("/images/three_img/lady/qpep.jpg") no-repeat center;
    background-size: 140px 200px;
    margin: 10px 0;

}

.w{
    float:right;
    width:140px;
    height:200px;
    background:black;
    opacity:0;
}
.pic:hover .w{
    opacity:0.6;
    color:springgreen;
    text-align: center;
    font-size:16px;
    font-weight:600;
    line-height: 20px;
    height: 200px;
}

