body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: pink;
}
/*h1 {
    padding-left: 150px;}*/

.navbar {
    color: white;
    background-color: white;
}
/*.navbar-header a.navbar-brand {
    color: green;
}*/
.navbar-header a.navbar-brand:hover {
    color: hotpink;
}
ul.nav.navbar-nav a {
    color: black;
}
ul.nav.navbar-nav a:hover {
    color: hotpink;
}
/*#icons{display:block;
    padding: 40px;
    float:right;
    padding-left: 190px;}*/
#icons{display:block;
    padding-left: 190px;}
footer a{
    color: black;
    text-align: none;
    font-size: x-small;
}
footer a:hover{
    color: deeppink;
    text-align: none;
    font-size: x-small;
}
