@import url('https://fonts.googleapis.com/css?family=Mada');
body { background-color: white;color:black;margin: 0px;
    font-family: 'Mada', sans-serif;
    padding-top: 70px;text-align: center;}
.nav {color:black;background-color:white;}
.navbar-header{background-color: white;}
.navbar-brand{padding-left: 50px;background-color: white;}
.navbar-collapse{background-color: white;}
.navbar-toggle {border:none; outline: none;}
.main{width:90%;}
.edit{height:20%;}
.intro {
    color: white;
    clear: left;
    font-size: 90%;
    line-height: 1.4em;}
h3 a {color: black; text-decoration: none;}
h3 a:hover {color: deeppink;text-decoration: none;}
p a {color:black; text-decoration: none;}
p a:hover{color: deeppink;text-decoration: none;}
#main a {color:black; text-decoration: none;}
#main a:hover{color: deeppink;}
#arc a {color: #3176f7;text-decoration: none;}
#arc a:hover{color: deeppink;}
.left {text-align:left;}
.w{margin-top: 10px;}
#start{float: left;margin: 0;padding: 0;}
.mini{padding-top: 2px;padding-bottom: 2px;}
hr {width: 100%;}
.more { text-align: left;
    border-bottom: 1px solid #807c72;
    padding: 5px 0px 15px 0px;
    font-size: 80%;}
.lastmore {
    border-bottom: none;}
.fixed-bottom {float:left;color:black;}
#jumbletitle{
    text-align: left;
    padding-left: 0px;
    color:black;}
/*p.test { width; 400px;min-height: 10px;max-height: 30px;overflow: scroll;}*/
#t nav ul{height:500px;
    width:85%;
    padding: 0px;
    min-height: 400px;
    min-width: 80%;
    overflow: scroll;
    max-height: 400px;
}
.bluebox {
    height:100%; background-color: #e2b99c;}
.barneys {
    height:88%; font-family: 'Mada', sans-serif;color: white;background-color: black;}
.acne {float: left;margin-bottom: 10px;}
.oop {margin-top: 40px;}
.ooo {margin-top: 80px;}
.all {margin: auto;}
#dot {margin-top:20px;margin-right: 0;}
.go {margin-top: 30px;}
.little{margin-top: 0px;}
li {list-style-type: none;}
.buy {display: inline;}
li a {color: black;}
li a:hover {color: deeppink;text-decoration: none;}
.test{margin-top: 20px;}
.after{background-color: blue;color: blue;}
.move a { margin-top: 10px; color: black;}
.move a:hover{ color: deeppink; text-decoration: none;}
.t {margin-bottom: 40px;}