hr{width:80%;}
#buttons{
    text-align: center;
    margin-bottom: 30px;}
#buttons a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: black;
}
#buttons a:hover {
    color:deeppink;
}
/* Filter buttons */
/*button {
    color:deeppink;
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
}*/
/*button:hover, button.active {
    background-color: powderblue;
    color: yellow;
    cursor: pointer;}*/
/* Gallery of images */
#gallery {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;}

#gallery img {
    width: 210px;
    height: 300px;
    margin: 5px;
    float: left;}
