extends aboutbase

block content
  .row.text-center
    .col-xs-12.col-sm-12
      h2= title
      p this is a node.js app wrapping 5 sample projects
      p main FA is super basic bootstrap layout
      p the first one calls and writes to a mongo db
      p the second is a spa built with angular
      p the third is a jamble, ill explain it later
      p the fourth is html5/css/javascript/jquery only

      .row
        .col-xs-12.col-sm-12.text-center
          img.img-responsive(src='/images/yang.jpg')
     .row
       #icons.col-xs-12.col-sm-12.text-center
        a(href='http://oiseaugrand.tumblr.com', title='mrdebbie')
            i.fa.fa-tumblr-square(style='font-size:30px;color:green;')
        a(href='https://www.instagram.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-snapchat-square(style='font-size:30px;color:green')
        a(href='https://www.pinterest.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-pinterest-square(style='font-size:30px;color:green')
        a(href='https://www.instagram.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-instagram(style='font-size:30px;color:green')
