extends aboutbase

block content
  .row
    .col-xs-12.col-sm-6
      h1= title
      p this is a node.js app wrapping 5 sample projects
      p main FA is super basic non-responsive 960.gs.grid
      p the first one calls and writes to a mongo db
      p the second is a spa built with angular
      p the third is a jamble, ill explain it later
      p the fourth is html5/css/javascript/jquery only

      .row
    .col-xs-12.col.sm-6
      img.img-responsive(src='/images/yang.jpg')
  .row
    #icons.col-xs-12.col-md-4
        a(href='http://oiseaugrand.tumblr.com', title='mrdebbie')
            i.fa.fa-tumblr-square(style='font-size:30px;color:green')
        a(href='https://www.instagram.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-snapchat-square(style='font-size:30px;color:green')
        a(href='https://www.pinterest.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-pinterest-square(style='font-size:30px;color:green')
        a(href='https://www.instagram.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-instagram(style='font-size:30px;color:green')




