doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/about.css')
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/') yang site
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/sampleone') sample 1
                        li
                            a(href='/sampletwo') sample 2
                        li
                            a(href='/samplethree') sample 3
                        li
                            a(href='/about/') about

        .container
            block content

            footer
                .row
                    .col-xs-12
                        small &copy; yang!

        script(src='/javascripts/jquery-1.11.2.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
