extends aboutbase

block content
  .row
    .col-xs-12
    h1= title
  .row
    .col-xs-12
      img.img-responsive(src='/images/yang.jpg')
  .row
    #icons.col-md-4
        a(href='http://oiseaugrand.tumblr.com', title='mrdebbie')
            i.fa.fa-tumblr-square(style='font-size:30px;color:green')
        a(href='https://www.instagram.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-snapchat-square(style='font-size:30px;color:green')
        a(href='https://www.pinterest.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-pinterest-square(style='font-size:30px;color:green')
        a(href='https://www.instagram.com/mrdebbiechong/', title='mrdebbie')
            i.fa.fa-instagram(style='font-size:30px;color:green')




