extends faBase
block content
    .container
        h3.t  saturday pool hang
        .row
        #dot.col-sm-3.text-center
            img(src='images/all/nk.jpg', height='300')
            p.go 1
        .col-sm-9
            .col-xs-6.col-sm-4.text-center
                img(src='images/all/swo.jpg', height='200')
                p.little 2
            .col-xs-6.col-sm-4.text-center
                img(src='images/all/birte.jpg', height='200')
                h5 3
            .col-xs-6.col-sm-4.text-center
                img(src='images/all/city.jpg', height='200')
                h5 4
            .col-xs-6.col-sm-4.text-center
                img(src='images/all/ng.jpg', height='200')
                h5 5
            .col-xs-6.col-sm-4.text-center
                img(src='images/all/lespec.jpg', height='200')
                h5 6
            .col-xs-6.col-sm-4.text-center
                img(src='images/all/ss.jpg', height='200')
                h5 7
    .row
        .col-sm-12
            ul
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/929265/Norma_Kamali/marissa-polka-dot-swimsuit')  1. Swimsuit by Norma Kamali at Net-a-Porter
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/893687/nike/versa-dri-fit-cropped-printed-jersey-sweatshirt')  2. Cropped Sweatshirt by Nike at Net-a-Porter
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/890963/Alexander_Wang/bite-distressed-denim-shorts')  3. Denim cutoffs by Alexander Wang at Net-a-Porter
                br
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/828709/balenciaga/classic-city-textured-leather-tote')  4. Tote by Balenciaga at Net-a-Porter
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/845775/nike/classic-cortez-metallic-leather-sneakers')  5. Sneakers by Nike at Net-a-Porter
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/937693/le_specs/--adam-selman-the-last-lolita-cat-eye-acetate-sunglasses')  6. Eyewear by Le Specs x Adam Selman at Net-a-Porter
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/936152/sarah___sebastian/stone-aura-14-karat-gold-diamond-earrings')  7. Earrings by Sarah and Sebastian at Net-a-Porter

    .row
        .col-sm-12
            hr.after
    .container
        h3.t  sunday hang
        .row
        .col-sm-1
        #dot.col-sm-3.text-center
            img(src='images/ha.jpg', height='300')
            p.go 1
        .col-sm-7
            .col-xs-6.col-sm-6.text-center
                img(src='images/log.jpg', height='200')
                h5 2
            .col-xs-6.col-sm-6.text-center
                img(src='images/robin.jpeg', height='200')
                h5 3
            .col-xs-6.col-sm-6.text-center
                img(src='images/mi.jpg', height='200')
                h5 4
            .col-xs-6.col-sm-6.text-center
                img(src='images/awang.jp2', height='200')
                h5 5
        .col-sm-1
    .row
        .col-sm-12
            ul
                li.buy
                    a(href='https://www.mrporter.com/en-us/mens/haider_ackermann/mohair-and-silk-blend-sweater/913918?ppv=2')  1. Mohair Knit by Dries van Noten at Mr. Porter
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/911629/acne_studios/log-high-rise-straight-leg-jeans')  2. Jeans by Acne Studios at Net-a-Porter
                li.buy
                    a(href='http://www.barneys.com/product/vintage-watch-vintage-oyster-perpetual-watch-504771751.html')  3. Watch by Rolex at Barneys
                li.buy
                    a(href='https://www.net-a-porter.com/us/en/product/854554/acne_studios/mika-crystal-embellished-leather-loafers')  4. Acne Studios at Net-a-Porter

                li.buy
                    a(href='http://www.barneys.com/product/alexander-wang-genesis-mini-folding-pouch-505330988.html')  5. Alexander Wang at Barneys

    .row
        .col-sm-12
            hr.after