doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Creepster', rel='stylesheet')

        link(rel='stylesheet', href='/stylesheets/sample_3_style/djebbiepicks.css')
    body
    .container-fluid
        .row
            .col-xs-12.col-sm-12.text-center
                img.masterr(src='/images/annie3.jpg')
            p.text-center i love you annie!
            .col-xs-12.col-sm-12.text-center
                a(href='/hello')
                    img.masterr(src='/images/home.jpg')