extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-4.bluebox
                h2#acne Acne Studios
            // img.img-responsive(src='/images/royal.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/nikos.jpg')
                hr

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/royal.jpg')
                hr

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/nikos.jpg')
                hr

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/royal.jpg')
                hr
            .col-xs-12.col-sm-2.left
              img.img-responsive(src='/images/royal.jpg')
              hr

            .col-xs-12.col-sm-2.left
              img.img-responsive(src='/images/nikos.jpg')
              hr

            .col-xs-12.col-sm-2.left
              img.img-responsive(src='/images/royal.jpg')
              hr

             .col-xs-12.col-sm-2.left
              img.img-responsive(src='/images/nikos.jpg')
              hr
