extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-2
            .col-xs-12.col-sm-5
                img.img-responsive(src='images/royal.jpg')
            .col-xs-12.col-sm-3.left
                h1#main
                    a(href='/spring18') Proenza Schouler
                p Spring 2018
                p Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs stufff
                    br
                    span#arc
                        a(href='/spring18') Continue reading...
    .container
        .row
            .col-xs-12
                hr
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4
                img.img-responsive(src='images/royal.jpg')
                p.more
                    a(href='august6.html') Acne Studios
            .col-xs-12.col-sm-4.col-md-4
                img.img-responsive(src='images/royal.jpg')
                p.more
                    a(href='august6.html') Acne Studios
            .col-xs-12.col-sm-4.col-md-4
              h4#jumbletitle jjumbles!
              hr
              p.test
                a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                    img.jumbles(src='images/royal.jpg', style='width:70px;height:70px')
                    | Good read at the New Yorker
              hr
              | &#x9;&#x9;
              p.test
                a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                    img.jumbles(src='images/royal.jpg', style='width:70px;height:70px')
                    | Good read at the New Yorker
              hr
              | &#x9;&#x9;&#x9;
              p.test
                a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                    img.jumbles(src='images/royal.jpg', style='width:70px;height:70px')
                    | Good read at the New Yorker
              hr
              | &#x9;&#x9;&#x9;
              p.test
                a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                    img.jumbles(src='images/royal.jpg', style='width:70px;height:70px')
                    | Good read at the New Yorker
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4.mini
                img.img-responsive(src='images/royal.jpg')
                p.more
                    a(href='august6.html') Acne Studios
            .col-xs-12.col-sm-4.col-md-4.mini
                img.img-responsive(src='images/royal.jpg')
                p.more
                    a(href='august6.html') Acne Studios
            .col-xs-12.col-sm-4.col-md-4.mini
                img.img-responsive(src='images/royal.jpg')
                p.more
                    a(href='august6.html') Acne Studios