extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-3.bags
                h2.acne hold it!

            // img.img-responsive(src='images/royal.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='images/splash/mgazure.jpg')
                hr
                img.img-responsive(src='images/splash/mgblush.jpg')

            .col-xs-12.col-sm-2.left
               img.img-responsive(src='images/splash/mgcamel.jpg')
               hr
               img.img-responsive(src='images/splash/mgmerlot.jpg')
            .col-xs-12.col-sm-2.left
               img.img-responsive(src='images/splash/mgwhite.jpg')
               hr
               img.img-responsive(src='images/splash/mgblack.jpg')

