extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-4.barneys
                h2.acne Barneys

            // img.img-responsive(src='images/royal.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive.oop(src='images/miniBal.jpeg')
                hr
                img.img-responsive.oop(src='images/splash/ghurk.jp2')

            .col-xs-12.col-sm-2.left
                img.img-responsive.oop(src='images/miniBal.jpeg')
                hr
                img.img-responsive.ooo(src='images/balfuzz.jpeg')
            .col-xs-12.col-sm-2.left
                img.img-responsive.oop(src='images/miniBal.jpeg')
                hr
                img.img-responsive.oop(src='images/splash/ghurk.jp2')

            .col-xs-12.col-sm-2.left
                img.img-responsive.oop(src='images/miniBal.jpeg')
                hr
                img.img-responsive.ooo(src='images/balfuzz.jpeg')