extends faBase
block content
    .container
        h3.t  all the brown bags at Barneys!
        .row
        .col-sm-12
            .col-xs-6.col-sm-3.text-center
                img(src='/images/miniBal.jpeg', height='200')
                p.little 1
            .col-xs-6.col-sm-3.text-center
                img(src='/images/pybal.jpeg', height='200')
                h5 2
            .col-xs-6.col-sm-3.text-center
                img(src='/images/balfuzz.jpeg', height='200')
                h5 3
    .row
        .col-sm-12
            ul
                li.buy
                    a(href='http://www.barneys.com/product/balenciaga-arena-leather-metallic-edge-mini-city-bag-505195430.html')  1. Balenciaga at Barneys
                li.buy
                    a(href='http://www.barneys.com/product/balenciaga-metallic-edge-classic-city-python-bag-504858650.html')  2. Balenciaga at Barneys

                li.buy
                   a(href='http://www.barneys.com/product/balenciaga-bazar-extra-small-shopper-tote-bag-505196024.html')  3. Balenciaga at Barneys

            
