doctype html
html
    head
        title Very FA
        link(rel='stylesheet', type='text/css', href='stylesheets/960_12_col.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/safe.css')
    body
        .header
            .container_12
                .grid_5
                .nav.grid_11
                    h2#yang Yang

                    a(href='/')  Home |
                    a(href='')  Runway |
                    a(href='')  Edits |
                    a(href='/yang')  Jumbles |
                    a(href='/about')  About
        .wrapper
            .main-story.container_12
                .grid_6.push_6
                    h1
                        a(href='') CELINE
                .intro.grid_3.push_7
                    p.date 29 July 2017
                    p#start On the Runway
                    p Liya Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Kebede.Liya Liya
                    a(href='') Continue reading...
            // .main-story
            .more-articles.container_12
                h2.grid_12
                    a(href='') FALL FASHIONNN
                .grid_3
                    img(src='images/ck24.jpg', alt='model on the runway', width='180', height='255')
                    p
                        a(href='') Raf Simons at Calvin Klein:
                            br
                            | Julia Noblis so shiny in look 24
                    p
                        a(href='') Ahead of Reality: D.Chong forecasts your future in 2017...
                    img(src='images/carice.jpg', alt='acne coat', width='180', height='255')
                    p
                        a.edit(href='') Edit: ACNE Studios
                .grid_3
                    img(src='images/nina46.jpg', alt='model on the runway', width='180', height='255')
                    p
                        a(href='') Nina Ricci: I still like pink and her
                            br
                            | hair is cool
                    p
                        a(href='') Best of SALE: Pieces to buy that are super cute/not ugly!
                    img(src='images/proenza.jpg', alt='proenza bag', width='180', height='255')
                    p
                        a.edit(href='') Bag Edit: Net-a-Porter
                .grid_3
                    img(src='images/alt29.jpg', alt='model on the runway', width='180', height='255')
                    p
                        a(href='') Altuzarra: LOVE these deer spot furs!
                            br
                            | He showed it in brown too :)
                    p
                        a(href='') Earthy: Let&apos;s chat about copper tongue scrapers
                    img(src='images/rolex.jpg', alt='rolex with pink face', width='160', height='255')
                    p
                        a.edit(href='') Jewelry Edit: Watches
                .grid_3
                    img(src='images/valli21.jpg', alt='model on the runway', width='180', height='255')
                    p
                        a(href='') Giambattista Valli: Not as fluffy,
                            br
                            | very moody
                    p
                        a(href='') Food: I can&apos;t stop eating guac. Ask me about potassium
                    img(src='images/mika.jpg', alt='super cute shoes from acne', width='180', height='255')
                    p
                        a.edit(href='') Jambles: Stuff I like
            // .more-articles
        // .wrapper
        .footer.clearfix
            .container_12
                p.grid_12
                    a(href='/yang') Stuff |
                    a(href='/shhh') More Stuffs |
                    a(href='/about') &copy;Yang!

