doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title hello
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/codepen.css')
    body
    .container-fluid
    .row
        .col-xs-12.text-center
            a(href='https://codepen.io/misterdebbie/pen/pdqjxa')
                img#f.c(src='/images/rA.jpg')
    .row
            .col-xs-12.col-sm-6
                a(href='https://codepen.io/misterdebbie/pen/bYzYoV')
                    img#l.c(src='/images/rB.jpg')
            .col-xs-12.col-sm-6.text-center
                a(href='https://codepen.io/misterdebbie/pen/YEBZYq')
                    img#last.c(src='/images/rC.jpg')
    .row
      .col-xs-12.col-sm-7.text-center
        a(href='/')
         img#home.c(src='/images/home.jpg')
      .col-xs-12.col-sm-5.text-center
        a(href='/about')
            img#about.c(src='/images/aA.jpg')
