extends smile
  block content
    .container-fluid
    .row
        .col-md-12
            h2#greet greetings
    |
    .row
        .col-xs-12.col-md-6
            p
                img(src='images/tooth!copy.jpeg', alt='dental product')
            |
            p big smile toothpaste
            |
            p.price $8.00
    |
    .row
        .col-md-6
            p
                img(src='images/tooth!copy.jpeg', alt='dental product')
            |
            p big smile toothpaste
            |
            p.price $8.00
        |
        .col-md-6
            p
                img(src='images/tooth!copy.jpeg', alt='dental product')
            |
            p big smile toothpaste
            |
            p.price $8.00

