doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/sample_3_style/dj.css')
    body
    .container-fluid
    .row
        .col-xs-12.text-center
            a(href='/hello')
                img.c(src='/images/home.jpg')
    .row
        .col-xs-12.col-sm-6
            a(href='/samplethree/ladypage')
                img.r(src='/images/regina.JPG')
        .col-xs-12.col-sm-6
            a(href='/samplethree/daewoopage')
              img.daewoo(src='/images/daewoo.JPG')
    .row
        .col-xs-12.col-sm-4
            a(href='/samplethree/anniepage')
              img.r(src='/images/annie3.jpg')
        .col-xs-12.col-sm-4
            a(href='/samplethree/stephpage')
              img.r(src='/images/steph5.jpg')
        .col-xs-12.col-sm-4
            a(href='/samplethree/luizpage')
              img.daewoo(src='/images/luiz3.jpg')
    .row
        .col-xs-12.col-sm-6
            a(href='/samplethree/valeriepage')
                img.r(src='/images/valerie.JPG')
        .col-xs-12.col-sm-6
            a(href='/samplethree/jamblespage')
                img.daewoo(src='/images/jambles2.jpg')

