doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title debbie chong!
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/aug13.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/august13.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      |
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') YANG
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='/fall17') runway
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/spring18') spring 2018
                            li
                                a(href='/fall17') fall 2017
                            li
                                a(href='/trends') trends
                            li
                                a(href='/mens16') men's 2016
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='/bags') edits
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/bags') bags
                            li
                                a(href='/shoes') shoes
                            li
                                a(href='/jewels') jewels
                            li
                                a(href='/alltogether') all together
                    li
                        a(href='/jjjambles') jambles
                    li
                        a(href='/jcrew') j.crew
                    li
                        a(href='/about') about

    .container
        .row.text-center
            .col-md-12
                h3#name Debbie Chong
                h4#em
                    a(href='debragchong@gmail.com') debragchong@gmail.com
                    h4
                        hr
    .container
        .row
            .col-md-8
                h4 Bada Market
                h5.role Purchasing Manager
                p Received deliveries, reconciled purchase orders and credits
                p Wrote weekly dry non-perishables orders and managed on-site DVD programming and rentals
            .col-md-4
                h5 Arlington Heights, Illinois present
        .row
            .col-md-8
                h4 Opening Ceremony
                h5 E-commerce Assistant
                p Execute daily web order fulfillment: pulling, invoicing, packing and shipping
                p Assist with daily operational tasks: cycle counts, receiving, stock organization, picking up store transfers
                p Maintain the following reporting documents: daily and monthly sales, FP/MD and AUR, shipping costs, international business, promotion results and generate trend recaps of international business
                p Manage Spring app shop: curating products, uploading images, writing product captions, scheduling product posts to align with seasonal stories and identifying selling trends
            .col-md-4
                h5 New York, New York 07/2014-05/2015
        .row
            .col-md-8
                h4 Saks Fifth Avenue Off Fifth
                h5 Merchandise Team Coordinator
                p Occupied a supervisory role that supported both Back of House operations and the Service and Selling realm
                p Responsible for the following Back of House duties: receiving and processing deliveries, assisting Merchandise Team Manager with floor moves, styling mannequins and creating trend tables to support Saks visual directives, auditing proper signage of current store promotions, perform monthly hard markdowns, Locator order fulfillment, reconciling exception reports
                p Responsible for the following daily opening and closing store operations : fine jewelry count, cash office duties, tracking MORE and Saks credit acquisition, customer service register duties and resolving customer and peer related concerns
            .col-md-4
                h5 Schaumburg, Illinois 08/2013-06/2014
        .row
            .col-md-8
                h4 Whole Foods
                h5 Dairy and Vegan Raw Foods Buyer
                p Managed and trained a grocery sub-team, made daily purchases for a perishables and raw vegan foods department Increased department sales from $55,000 to $85,000 in 6 months by category management, fulfilling special request orders and supporting local vendor product placement.
                p Conducted inventory counts, merchandised and built displays for featured promotions, provided product knowledge of natural, organic, and local products
            .col-md-4
                h5 Schaumburg, Illinois 03/2011-02/2013
        .row
            .col-md-8
                h4 Belmont Army Surplus
                h5 Women&rsquo;s Vintage Clothing and Accessories Buyer
                p Pre-sorted clothing and accessories in Chicago, Texas, and New York warehouses
                p Negotiated pricing of pieces purchased, scheduled freight delivery to Chicago base, priced merchandise and conceptualized visual plans for floor moves, maintained inventory, tracked trends to support sell through and responsible for executing floor moves
                p Introduced Women&rsquo;s Designer category, highlighting pieces from Christian Dior, Emilio Pucci, Pierre Cardin, Versace and Yves Saint Laurent
            .col-md-4
                h5 Chicago, Illinois 07/2004-11/2010
        .row
            .col-md-12
                h4 EDUCATION
        .row
            .col-xs-6.col-md-8
                h5 Northwestern University
                h5 Fashion Institute of Technology
                h5 D&ZeroWidthSpace;ePaul University
                h5 Proficiencies:
            .col-xs-6.col-md-4
                h5 Chicago, Illinois currently attending
                h5 New York, New York 09/2014
                h5 Chicago, Illinois 06/2002
                h5 HTML5, CSS, Javascript, Node.js, Java, Python

     // jQuery (necessary for Bootstrap's JavaScript plugins)
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
     // Latest compiled and minified JavaScript
     script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
     script(src='/javascripts/august8.js')