extends faBase
block content
  .container
    .row
      .col-xs-12.col-sm-12
        h3 Fall 2017
        h6 *runway images via vogue.com*

      .container
    .row
        #buttons.col-xs-4.col-sm-2
        #gallery.col-xs-8.col-sm-10
            img(src='/fall17/yellow/cal24.jpg', data-tags='Calvin Klein', alt='model on the runway')
            img(src='/fall17/yellow/ford17.jpg', data-tags='Tom Ford', alt='model on the runway')
            img(src='/fall17/yellow/oscar14.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/yellow/paule40.jpg', data-tags='Paule Ka', alt='model on the runway')
            img(src='/fall17/yellow/prada10.jpg', data-tags='Prada', alt='model on the runway')
            img(src='/fall17/yellow/rochas12.jpg', data-tags='Rochas', alt='model on the runway')
            img(src='/fall17/yellow/row6.jpg', data-tags='The Row', alt='model on the runway')
            img(src='/fall17/yellow/sies30.jpg', data-tags='Sies', alt='model on the runway')
            img(src='/fall17/yellow/theory2.jpg', data-tags='Theory', alt='model on the runway')
            img(src='/fall17/yellow/val8.jpg', data-tags='Valentino', alt='model on the runway')
            img(src='/fall17/yellow/val34.jpg', data-tags='Valentino', alt='model on the runway')
            img(src='/fall17/yellow/apc11.jpg', data-tags='APC', alt='model on the runway')
            img(src='/fall17/teddy/bruno1.jpg', data-tags='Vanessa Bruno', alt='model on the runway')
            img(src='/fall17/teddy/nina6.jpg', data-tags='Nina Ricci', alt='model on the runway')
            img(src='/fall17/teddy/rochas31.jpg', data-tags='Rochas', alt='model on the runway')
            img(src='/fall17/teddy/rose1.jpg', data-tags='Rosetta Getty', alt='model on the runway')
            img(src='/fall17/teddy/rose10.jpg', data-tags='Rosetta Getty', alt='model on the runway')
            img(src='/fall17/teddy/see28.jpg', data-tags='See by Chloe', alt='model on the runway')
            img(src='/fall17/teddy/truss4.jpg', data-tags='Trussardi', alt='model on the runway')
            img(src='/fall17/teddy/ulla23.jpg', data-tags='Ulla Johnson', alt='model on the runway')
            img(src='/fall17/teddy/alt35.jpg', data-tags='Altuzarra', alt='model on the runway')
            img(src='/fall17/teddy/veron2.jpg', data-tags='Veronqiue Leroy', alt='model on the runway')
            img(src='/fall17/teddy/brock1.jpg', data-tags='Brock', alt='model on the runway')
            img(src='/fall17/teddy/brock11.jpg', data-tags='Brock', alt='model on the runway')
            img(src='/fall17/wild/sara19.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/wild/vivetta13.jpg', data-tags='Vivetta', alt='model on the runway')
            img(src='/fall17/red/alt29.jpg', data-tags='Altuzarra', alt='model on the runway')
            img(src='/fall17/red/rochas34.jpg', data-tags='Rochas', alt='model on the runway')
            img(src='/fall17/red/sara22.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/red/tods30.jpg', data-tags='Tods', alt='model on the runway')
            img(src='/fall17/red/und18.jpg', data-tags='Undercover', alt='model on the runway')
            img(src='/fall17/color/sara21.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/blue/prada12.jpg', data-tags='Prada', alt='model on the runway')
            img(src='/fall17/blue/sacai26.jpg', data-tags='Sacai', alt='model on the runway')
            img(src='/fall17/blue/sies18.jpg', data-tags='Sies', alt='model on the runway')
            img(src='/fall17/blue/marni8.jpg', data-tags='Marni', alt='model on the runway')
            img(src='/fall17/blue/rok26.jpg', data-tags='Roksanda', alt='model on the runway')
            img(src='/fall17/blue/self19.jpg', data-tags='Self Service', alt='model on the runway')
            img(src='/fall17/blue/self21.jpg', data-tags='Self Service', alt='model on the runway')
            img(src='/fall17/blue/self22.jpg', data-tags='Self Service', alt='model on the runway')
            img(src='/fall17/blue/self27.jpg', data-tags='Self Service', alt='model on the runway')
            img(src='/fall17/blue/nina15.jpg', data-tags='Nina Ricci', alt='model on the runway')
            img(src='/fall17/blue/sally15.jpg', data-tags='Sally la Pointe', alt='model on the runway')
            img(src='/fall17/blue/alt37.jpg', data-tags='Altuzarra', alt='model on the runway')
            img(src='/fall17/blue/alt46.jpg', data-tags='Altuzarra', alt='model on the runway')
            img(src='/fall17/blue/cel9.jpg', data-tags='Celine', alt='model on the runway')
            img(src='/fall17/blue/cel20.jpg', data-tags='Celine', alt='model on the runway')
            img(src='/fall17/blue/cel22.jpg', data-tags='Celine', alt='model on the runway')
            img(src='/fall17/pink/ford15.jpg', data-tags='Tom Ford', alt='model on the runway')
            img(src='/fall17/pink/oscar16.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/pink/tome22.jpg', data-tags='Tome', alt='model on the runway')
            img(src='/fall17/pink/nina46.jpg', data-tags='Nina Ricci', alt='model on the runway')
            img(src='/fall17/pink/oscar18.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/pink/ford8.jpg', data-tags='Tom Ford', alt='model on the runway')
            img(src='/fall17/snow/max20.jpg', data-tags='Max Mara', alt='model on the runway')
            img(src='/fall17/snow/miu39.jpg', data-tags='Miu Miu', alt='model on the runway')
            img(src='/fall17/snow/pam11.jpg', data-tags='Pam and Gela', alt='model on the runway')
            img(src='/fall17/snow/row3.jpg', data-tags='The Row', alt='model on the runway')
            img(src='/fall17/snow/a29.jpg', data-tags='Acne', alt='model on the runway')
            img(src='/fall17/snow/ryan1.jpg', data-tags='Ryan Roche', alt='model on the runway')
            img(src='/fall17/snow/ryan4.jpg', data-tags='Ryan Roche', alt='model on the runway')
            img(src='/fall17/snow/ryan16.jpg', data-tags='Ryan Roche', alt='model on the runway')
            img(src='/fall17/snow/ryan18.jpg', data-tags='Ryan Roche', alt='model on the runway')
            img(src='/fall17/snow/sacai27.jpg', data-tags='Sacai', alt='model on the runway')
            img(src='/fall17/snow/sal22.jpg', data-tags='Ferragamo', alt='model on the runway')
            img(src='/fall17/snow/sally3.jpg', data-tags='Sally la Pointe', alt='model on the runway')
            img(src='/fall17/snow/tods32.jpg', data-tags='Tods', alt='model on the runway')
            img(src='/fall17/snow/tory2.jpg', data-tags='Tory Burch', alt='model on the runway')
            img(src='/fall17/snow/brock5.jpg', data-tags='Brock', alt='model on the runway')
            img(src='/fall17/snow/brock15.jpg', data-tags='Brock', alt='model on the runway')
            img(src='/fall17/snow/apc6.jpg', data-tags='APC', alt='model on the runway')
            img(src='/fall17/snow/apc16.jpg', data-tags='APC', alt='model on the runway')
            img(src='/fall17/snow/cel13.jpg', data-tags='Celine', alt='model on the runway')
            img(src='/fall17/snow/aj30.jpg', data-tags='Au Jour le Jour', alt='model on the runway')
            img(src='/fall17/bw/oscar32.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/bw/oscar37.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/bw/rochas8.jpg', data-tags='Rochas', alt='model on the runway')
            img(src='/fall17/bw/sam42.jpg', data-tags='Samuji', alt='model on the runway')
            img(src='/fall17/bw/sam46.jpg', data-tags='Samuji', alt='model on the runway')
            img(src='/fall17/bw/sara1.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/bw/sara3.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/bw/sara25.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/bw/sara27.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/bw/sara29.jpg', data-tags='Sara Battaglia', alt='model on the runway')
            img(src='/fall17/bw/tods36.jpg', data-tags='Tods', alt='model on the runway')
            img(src='/fall17/bw/tory26.jpg', data-tags='Tory Burch', alt='model on the runway')
            img(src='/fall17/bw/tory36.jpg', data-tags='Tory Burch', alt='model on the runway')
            img(src='/fall17/blk/ol7.jpg', data-tags='Olivier Theyskens', alt='model on the runway')
            img(src='/fall17/blk/cel11.jpg', data-tags='Celine', alt='model on the runway')
            img(src='/fall17/blk/oscar1.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/blk/oscar47.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/blk/br31.jpg', data-tags='Brock', alt='model on the runway')
            img(src='/fall17/blk/rose5.jpg', data-tags='Rosetta Getty', alt='model on the runway')
            img(src='/fall17/blk/sal25.jpg', data-tags='Ferragamo', alt='model on the runway')
            img(src='/fall17/blk/sal28.jpg', data-tags='Ferragamo', alt='model on the runway')
            img(src='/fall17/blk/sally1.jpg', data-tags='Sally la Pointe', alt='model on the runway')
            img(src='/fall17/blk/theory12.jpg', data-tags='Theory', alt='model on the runway')
            img(src='/fall17/blk/tory31.jpg', data-tags='Tory Burch', alt='model on the runway')
            img(src='/fall17/blk/wanda3.jpg', data-tags='Wanda Nylon', alt='model on the runway')
            img(src='/fall17/blk/aq28.jpg', data-tags='Aquazarra', alt='model on the runway')
            img(src='/fall17/silver/oscar15.jpg', data-tags='Oscar de la Renta', alt='model on the runway')
            img(src='/fall17/silver/rose24.jpg', data-tags='Rosetta Getty', alt='model on the runway')
            img(src='/fall17/silver/ryan3.jpg', data-tags='Ryan Roche', alt='model on the runway')
            img(src='/fall17/silver/sally9.jpg', data-tags='Sally la Pointe', alt='model on the runway')
            img(src='/fall17/silver/sam7.jpg', data-tags='Samuji', alt='model on the runway')
            img(src='/fall17/silver/bal18.jpg', data-tags='Balenciaga', alt='model on the runway')

    p#uppp
     a(href='#buttons') ^UP^
