extends faBase
block content
    p * all images via jcrew.com
    .container
        h3  Look 1
        .row
            .col-sm-3
                img(src='images/aug30/quilt.jp2', height='300')
                p.little 1. Quilted downtown field jacket
            .col-sm-9
                .col-sm-3
                    img(src='images/aug30/knit.jp2', height='200')
                    p.little 2. The 1988 Italian cashmere rollneck&trade; sweater
                .col-sm-3
                    img(src='images/aug30/stripes.jp2', height='200')
                    p.little 3. Striped button-up shirt
                .col-sm-3
                    img(src='images/aug30/denim.jp2', height='200')
                    p.little 4. 9&quot; high-rise toothpick jean in white
                .col-sm-3
                    img(src='images/aug30/flat.jp2', height='200')
                    h5
                        p.little 5. Lottie flats in snakeskin printed leather
                .col-sm-3
                    img(src='images/aug30/yellow.jp2', height='200')
                    p.little 6. Signet bag in Italian leather
                .col-sm-3
                    img(src='images/aug30/pendant.jp2', height='200')
                    p.little 7. Round locket pendant
                    p
                .col-sm-3
                    img(src='images/aug30/hoops.jp2', height='200')
                    p.little 8. Lucite hoop earrings
                    p
                .col-sm-3
                    img(src='images/aug30/sun.jp2', height='200')
                    p.little 9. Piper sunglasses
            .row
                .col-sm-12
                    hr
            .container
                h3  Look 2
                .row
                    .col-sm-3
                        img(src='images/aug30/puffer.jp2', height='300')
                        p.little 1. Excursion quilted down vest
                    .col-sm-9
                        .col-sm-3
                            img(src='images/aug30/hood.jp2', height='200')
                            p.little 2. J.Crew sport cropped zip hoodie
                        .col-sm-3
                            img(src='images/aug30/touc.jp2', height='200')
                            p 3. Horoscope T-shirt in &quot;Gemini&quot;
                        .col-sm-3
                            img(src='images/aug30/bry.jp2', height='200')
                            p.little 4. 8&quot; toothpick jean in Bryson wash
                        .col-sm-3
                            img(src='images/aug30/tret.jp2', height='200')
                            h5
                                p.little 5. Women&apos;s Tretorn&reg; canvas T56 sneakers
                        .col-sm-3
                            img(src='images/aug30/pouch.jp2', height='200')
                            p.little 6. Medium pouch in Italian leather
                        .col-sm-3
                            img(src='images/aug30/hoo.jp2', height='200')
                            p.little 7. Antique-gold hoop earrings
                            p
                        .col-sm-3
                            img(src='images/aug30/kerch.jp2', height='200')
                            p.little 8. Skinny striped silk scarf
                            p
                        .col-sm-3
                            img(src='images/aug30/clear.jp2', height='200')
                            p.little 9. Piper sunglasses
                    .row
                        .col-sm-12
                            hr
                    .container
                        h3  Look 3
                        .row
                            .col-sm-3
                                img(src='images/aug30/parke.jp2', height='300')
                                p.little 1. Parke topcoat
                            .col-sm-9
                                .col-sm-3
                                    img(src='images/aug30/cardi.jpeg', height='200')
                                    p 2. Italian featherweight cashmere cardigan sweater
                                .col-sm-3
                                    img(src='images/aug30/flo.jpeg', height='200')
                                    p.little 3. Embroidered floral top
                                .col-sm-3
                                    img(src='images/aug30/faux.jp2', height='200')
                                    p.little 4. Faux-leather pleated midi skirt
                                .col-sm-3
                                    img(src='images/aug30/cr.jp2', height='200')
                                    h5
                                        p.little 5. Crackled metallic loafer mules
                                .col-sm-3
                                    img(src='images/aug30/brace.jp2', height='200')
                                    p.little 6. Classic pave link bracelet
                                .col-sm-3
                                    img(src='images/aug30/pear.jp2', height='200')
                                    p.little 7. Pearl stud earrings
                                    p
                                .col-sm-3
                                    img(src='images/aug30/wrap.jp2', height='200')
                                    p.little 8. Refined silk-cashmere wrap
                                    p
                                .col-sm-3
                                    img(src='images/aug30/fran.jp2', height='200')
                                    p.little 9. Franny sunglasses
                    .row
                        .col-sm-12
                            hr
                    .container
                        h3  Look 4
                        .row
                            .col-sm-3
                                img(src='images/aug30/vest.jp2', height='300')
                                p.little 1. Faux-fur vest
                            .col-sm-9
                                .col-sm-3
                                    img(src='images/aug30/grey.jpeg', height='200')
                                    p.little 2. Ribbed sweater with snap sleeves
                                .col-sm-3
                                    img(src='images/aug30/scarf.jp2', height='200')
                                    p.little 3. Large Italian silk scarf in paisley
                                .col-sm-3
                                    img(src='images/aug30/leath.jp2', height='200')
                                    p.little 4. Collection petite leather leggings
                                .col-sm-3
                                    img(src='images/aug30/stan.jp2', height='200')
                                    h5
                                        p.little 5. Adidas&reg; Stan Smith&trade; sneakers
                                .col-sm-3
                                    img(src='images/aug30/bla.jp2', height='200')
                                    p.little 6. Signet flap bag in Italian leather
                                .col-sm-3
                                    img(src='images/aug30/socks.jp2', height='200')
                                    p.little 7. Mixed no-show socks three-pack
                                    p
                                .col-sm-3
                                    img(src='images/aug30/horse.jp2', height='200')
                                    p.little 8. Horseshoe hoop earrings
                                    p
                                .col-sm-3
                                    img(src='images/aug30/fr.jp2', height='200')
                                    p.little 9. Franny sunglasses