extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-2.bags
                h2.acne bonus

            // img.img-responsive(src='/images/royal.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/rolex.jpg')
                hr
                img.img-responsive(src='/images/rolex.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/rolex.jpg')
                hr
                img.img-responsive(src='/images/rolex.jpg')
            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/rolex.jpg')
                hr
                img.img-responsive(src='/images/rolex.jpg')
            .col-xs-12.col-sm-2.left
                img.img-responsive(src='/images/rolex.jpg')
                hr
                img.img-responsive(src='/images/rolex.jpg')
