extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-2
            .col-xs-12.col-sm-5
                img.img-responsive(src='images/royal.jpg')
            .col-xs-12.col-sm-3.left
                h1#main
                    a(href='/acne') Acne Studios
                p Fall 2017
                p Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs stufff
                    br
                    span#arc
                        a(href='/acne') Continue reading...
    .container
        .row
            .col-xs-12
                hr
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4
                img(src='images/polished.jpg' width="220" height="400")
                p.more
                    a(href='https://www.net-a-porter.com/us/en/product/924315/balenciaga/bombardier-brilliant-polished-leather-and-shearling-jacket') Shop Balenciaga at Net-a-Porter
            .col-xs-12.col-sm-4.col-md-4
                img(src='images/jwflow.jpg' width="300" height="400")
                p.more
                    a(href='https://www.theoutnet.com/en-US/Shop/Product/JWAnderson/Embroidered-cotton-sweater/940789') Shop J.W. Anderson at The Outnet
            .col-xs-12.col-sm-4.col-md-4
                h4#jumbletitle jjumbles!
                hr
                p.test
                    a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                        img.jumbles(src='images/home.jpg', style='width:70px;height:70px')
                        | Good read at the New Yorker
                hr
                | &#x9;&#x9;
                p.test
                    a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                        img.jumbles(src='images/home.jpg', style='width:70px;height:70px')
                        | Good read at the New Yorker
                hr
                | &#x9;&#x9;&#x9;
                p.test
                    a(href='http://www.newyorker.com/magazine/2016/09/12/pete-wells-the-new-york-times-restaurant-critic')
                        img.jumbles(src='images/home.jpg', style='width:70px;height:70px')
                        | Good read at the New Yorker
                hr

    .container
        .row
            .col-xs-12.col-sm-4.col-md-4.mini
                img(src='images/ha.jpg' width="300" height='400')
                p.more
                    a(href='https://www.mrporter.com/en-us/mens/haider_ackermann/mohair-and-silk-blend-sweater/913918?ppv=2') Shop Haider Ackermann at Mr. Porter
            .col-xs-12.col-sm-4.col-md-4.mini
                img(src='images/mika.jpg' width="300" height="400")
                p.more
                    a(href='/shoes') Acne Studios
            .col-xs-12.col-sm-4.col-md-4.mini
               img(src='images/rolex.jpg' width="240" height="400")
               p.more
                    a(href='/jewels') A Rolex
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4.mini
                img(src='images/i.jpeg' width="220" height='400')
                p.more
                    a(href='http://www.barneys.com/product/ienki-ienki-tech-fabric-down-puffer-coat-505364416.html') Shop Ienki Ienki at Barneys
            .col-xs-12.col-sm-4.col-md-4.mini
                img(src='images/alek.jpeg' width="220" height="400")
                p.more
                    a(href='http://www.barneys.com/product/balenciaga-photo-graphic-cotton-hoodie-505316292.html') Shop Balenciaga at Barneys
            .col-xs-12.col-sm-4.col-md-4.mini
                img(src='images/awang.jp2' width="240" height="400")
                p.more
                    a(href='http://www.barneys.com/product/alexander-wang-genesis-mini-folding-pouch-505330988.html') Shop Alexander Wang at Barneys