doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Creepster', rel='stylesheet')

        link(rel='stylesheet', href='/stylesheets/sample_3_style/djebbiepicks.css')
    body
    .container-fluid
    .row
        .col-xs-12.col-sm-12.text-center
            a(href='/samplethree/ladypage')
                img.masterr(src='/images/regina.JPG')
    .row
        .col-xs-12.col-sm-6
            a(href='/samplethree/bags')
             img.n(src='/images/rA.jpg')
        .col-xs-12.col-sm-6
            a(href='/samplethree/dresses')
              img.n2(src='/images/rB.jpg')
    .row.text-center
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/dvflace.jpg', width='200', height='100')
        h3.text-uppercase $150
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/dskt.jpg', width='200', height='100')
        h3.text-uppercase $120
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/altwrap.jpg', width='200', height='100')
        h3.text-uppercase $848
    .row.text-center
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/amcq.jpg', width='200', height='100')
        h3.text-uppercase $3598
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/aura.jpg', width='200', height='100')
        h3.text-uppercase $324
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/itparka.jpg', width='200', height='100')
        h3.text-uppercase $1945
    .row.text-center
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/ade.jpg', width='200', height='100')
        h3.text-uppercase $330
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/psch.jpg', width='200', height='100')
        h3.text-uppercase $744
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/vb.jpg', width='200', height='100')
        h3.text-uppercase $266
   .row.text-center
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/tulle.jpg', width='200', height='100')
        h3.text-uppercase $180
      .col-md-4
        img.img-responsive(src='/images/three_img/lady/floral.jpg', width='200', height='100')
        h3.text-uppercase $158
       .col-md-4
           img.img-responsive(src='/images/three_img/lady/qpep.jpg', width='200', height='100')
           h3.text-uppercase $878
   .row.text-center
    .col-xs-12
       p i love you ama!