doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/sample_3_style/djebbiepicks.css')
    body
    .container-fluid
    .row
        .col-xs-12.col-sm-12.text-center
            a(href='/samplethree/ladypage')
                img.masterr(src='/images/c1.jpg')
