extends ladybase

block content
    .container
        .row
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        |alexander mcqueen
                        br
                        br
                        |net-a-porter
                        br
                        br
                        a(href="https://www.net-a-porter.com/us/en/product/809752/alexander_mcqueen/grosgrain-trimmed-floral-jacquard-peplum-top") shop
            .col-xs-12.col-md-4
                .pic
                    .w
                      br
                      | alexander mcqueen
                      br
                      br
                      | net-a-porter
                      br
                      br
                      a(href="https://www.net-a-porter.com/us/en/product/809752/alexander_mcqueen/grosgrain-trimmed-floral-jacquard-peplum-top") shop
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        | alexander mcqueen
                        br
                        br
                        | net-a-porter
                        br
                        br
                        a(href="https://www.net-a-porter.com/us/en/product/809752/alexander_mcqueen/grosgrain-trimmed-floral-jacquard-peplum-top") shop
        .row
          .col-xs-12.col-md-4
            .pic
                .w
                    br
                    | alexander mcqueen
                    br
                    br
                    | net-a-porter
                    br
                    br
                    a(href="https://www.net-a-porter.com/us/en/product/809752/alexander_mcqueen/grosgrain-trimmed-floral-jacquard-peplum-top") shop
          .col-xs-12.col-md-4
              .pic
                .w
                  br
                  | alexander mcqueen
                  br
                  br
                  | net-a-porter
                  br
                  br
                  a(href="https://www.net-a-porter.com/us/en/product/809752/alexander_mcqueen/grosgrain-trimmed-floral-jacquard-peplum-top") shop
          .col-xs-12.col-md-4
            .pic
              .w
               br
               | alexander mcqueen
               br
               br
               | net-a-porter
               br
               br
               a(href="https://www.net-a-porter.com/us/en/product/809752/alexander_mcqueen/grosgrain-trimmed-floral-jacquard-peplum-top") shop



