extends ladybase

block content
    .container
        .row
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        |the
                        br
                        |transparent
                        br
                        |box
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        |the
                        br
                        |transparent
                        br
                        |box
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        |the
                        br
                        |transparent
                        br
                        |box
        .row
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        | the
                        br
                        | transparent
                        br
                        | box
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        | the
                        br
                        | transparent
                        br
                        | box
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        | the
                        br
                        | transparent
                        br
                        | box

                        p#shopM
                            a(href='/shop/mom/alt') shop!
                        hr

