doctype html
html
    head
        title Yang Liquid Home
        link(href='/stylesheets/s4.css', type='text/css', rel='stylesheet')
    body
        #header
            p.headmini
                a.blue(href='/samplefour/login') Login
            p.headmini
                a(href='/samplefour/login')
                    img(src='images/rA.jpg', alt='cloud 1', title='site home', width='20', height='20')
            p
                img#hello(src='images/h.jpg', alt='cloud 1', title='i drew this!')
            #nav
                ul
                    li
                        a.blue(href='/samplefour') Yang
                    li
                        a(href='/samplefour/runway')
                            img(src='images/rA.jpg', alt='cloud 3', title='runway looks', width='20', height='20')
                            span.yellow | Runway
                    li
                        a(href='/samplefour/shop')
                            img(src='images/rA.jpg', alt='cloud 1', title='shop edit', width='20', height='20')
                            span.yellow | Shop Edit
                    li
                        a(href='/samplefour/jambles')
                            img(src='images/rA.jpg', alt='cloud 1', title='jambles', width='20', height='20')
                            span.yellow | Jambles
                    li
                        a(href='/samplefour/contact')
                            img(src='images/rA.jpg', alt='cloud 1', title='contact debbie!', width='20', height='20')
                            span.yellow | Contact
                    li
                        a(href='/samplefour/stuff')
                            img(src='images/rA.jpg', alt='cloud 1', title='stuff', width='20', height='20')
                            span.yellow | Stuff

    block content