extends luizbase

block content
    .container
        .row
            .col-xs-12.col-md-4
                .pic
                    .w
                        br
                        |givenchy
                        br
                        br
                        |ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/givenchy/silver-hooded-windbreaker/2066067") shop
            .col-xs-12.col-md-4
                .pic2
                    .w
                        br
                        | rick owens
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/rick-owens/grey-down-flight-bomber-jacket/2080707") shop
            .col-xs-12.col-md-4
                .pic3
                    .w
                        br
                        | helmut lang
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/helmut-lang/copper-tyvek-combat-jacket/2045473") shop
        .row
            .col-xs-12.col-md-4
                .pic4
                    .w
                        br
                        | givenchy
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/givenchy/black-wool-leather-bomber-jacket/2066027") shop
            .col-xs-12.col-md-4
                .pic5
                    .w
                        br
                        | alexander mcqueen
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/alexander-mcqueen/black-leather-military-jacket/2076937") shop
            .col-xs-12.col-md-4
                .pic6
                    .w
                        br
                        | stella mccartney
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/stella-mccartney/black-faux-leather-coat/2216047") shop
        .row
            .col-xs-12.col-md-4
                .pic7
                    .w
                        br
                        | loewe
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/loewe/black-anagram-bifold-wallet/2195127") shop
            .col-xs-12.col-md-4
                .pic8
                    .w
                        br
                        | saint laurent
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/saint-laurent/black-patent-monogram-east-west-wallet/2235157") shop
            .col-xs-12.col-md-4
                .pic9
                    .w
                        br
                        | thom browne
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/thom-browne/black-hector-tote/1774483") shop
        .row
            .col-xs-12.col-md-4
                .pic10
                    .w
                        br
                        | rolex
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/black-limited-edition/matte-black-limited-edition-rolex-oyster-perpetual-explorer/1174473") shop
            .col-xs-12.col-md-4
                .pic11
                    .w
                        br
                        | marc jacobs
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/marc-jacobs/white-stinky-rat-sneakers/2184637") shop
            .col-xs-12.col-md-4
                .pic12
                    .w12
                        br
                        | versace
                        br
                        br
                        | ssense
                        br
                        br
                        a(href="https://www.ssense.com/en-us/men/product/versace-underwear/black-medusa-boxer-briefs/2221507") shop









