<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome to yang site!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="style/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div id="middle">
        <div id="me">
          <h3 id="name"><a href="#">Debbie Chong</a>
          </h3>
           <p id="city">New York, NY</p>
          <br>
          <br>
        </div>
        <div id="info">
          <br>
          <br>
          <br>
          <br>
          <div id="contact">
            <div id="boo">
              <h3 id="name"><a href="#">Debbie Chong</a>
              </h3>
               <p id="city">New York, NY</p>
              <br>
              <br>
            </div>
            <p>
              <a href="mailto:debragchong@gmail.com">debragchong@gmail.com</a>
              <br>
              <a href="https://www.instagram.com/mrdebbiechong/">instagram</a>
              <br>
              <a href="">linkedin</a>
              <br>
              <a href="https://github.com/misterdebbie?tab=repositories">github</a>
            </p>
            <p id="present">
              <b>Hello!</b>
              <br>
              <br>
           </p>
           <p id="student"> I am a full stack developer, former fashion buyer. From art to fashion to tech, I forecast by interpreting and observing
             the surrounding environments to inform my design decisions and market trends. <br>My outlook is bright and alive, responsive to the interactions I have with others.
             I want to serve as the conduit between the digital world and the social by creating web applications that are mindful of the user. <br>Leveraging my customer service skills in client building, I translate those insights into writing applications that consider the needs of a user. My strength lies in shaping an experience that presents data in a digestible manner while simultaneously rendering a front end interface that is aesthetically vibrant. </p>
          </p>
          <p id="present">
            <b>Present</b>
         </p>
         <p id="student"> wdi at general assembly, selected projects:</p>
          <a href="/one">one</a>
          <br>
          <a href="two">two</a>
          <br>
          <a href="#">three</a>
          <br>
          <a href="#">four</a>
          <br>
          <a href="#">five</a>
          <br>
        </p>
        <p>
       <p id="skills"> Skills
        <p>Node.js, React</p>
        <p>Python, Java, JavaScript</p>
        <p>HTML5, CSS3, Bootstrap</p>
        </p>
          <p id="past">
            <b>Experience</b>
          </p>
          <p>E-commerce Assistant at Opening Ceremony</p>
          <p>Merchandise Coordinator at Saks Off 5th</p>
          <p>Dairy and Raw Foods Buyer at Whole Foods</p>
          <p>Women's Clothing and Accessories Buyer at Belmont Army</p>
          <p>Stylist and Visuals Assistant at J.Crew</p>
          <p>Assistant Manager at Abercrombie and Fitch</p>
        </div>
        </div>
     </div>
    </div>
  </body>
</html>
