doctype html
html
  head
    title best psychic!
    link(href='https://fonts.googleapis.com/css?family=VT323', rel='stylesheet')
    link(href='stylesheets/psychic.css', rel='stylesheet', type='text/css')
  body
    header
      h2 the future
    .adult
      .circle
    #present
    .f
      form(action='#')
        label(for='star') Enter your sign
        input#star(type='text')
        // <div id='future'></div>
        input(type='submit', value='OPEN SESAME')
      #future
    script(src='javascripts/psychicc.js')
