extends s1

block content
  .row
    .col-md-12
        h2#greet greetings
  .row
    .col-md-4
        p
            img(src='images/tooth!copy.jpeg', alt='dental product')
        p big smile toothpaste
        p.price $8.00
    .col-md-4
        p
            img(src='images/tooth!copy.jpeg', alt='dental product')
        p big smile toothpaste
        p.price $8.00
    .col-md-4
        p
            img(src='images/tooth!copy.jpeg', alt='dental product')
        p big smile toothpaste
        p.price $8.00
  .row
    .col-md-4
        p
            img(src='images/tooth!copy.jpeg', alt='dental product')
        p big smile toothpaste
        p.price $8.00
    .col-md-4
        p
            img(src='images/tooth!copy.jpeg', alt='dental product')
        p big smile toothpaste
        p.price $8.00
    .col-md-4
        p
            img(src='images/tooth!copy.jpeg', alt='dental product')
        p big smile toothpaste
        p.price $8.00