doctype html
html
    head
        title Yang Login Test
        link(href='/stylesheets/s4.css', type='text/css', rel='stylesheet')
        link(href='/stylesheets/s4filter.css', type='text/css', rel='stylesheet')

    body
        #header
            p.headmini
                a.blue(href='/samplefour/login') Login
            p.headmini
                a(href='/samplefour/login')
                    img(src='/images/rA.jpg', alt='cloud 1', title='site home', width='20', height='20')
            p
                img(src='/images/rA.jpg', alt='cloud 2', title='i drew this!', width='200', height='140')
            #nav
                ul
                    li
                        a.blue(href='/samplefour') Yang
                    li
                        a(href='/samplefour/runway')
                            img(src='/images/rA.jpg', alt='cloud 3', title='runway looks', width='20', height='20')
                            span.yellow | Runway
                    li
                        a(href='/samplefour/shop')
                            img(src='/images/rA.jpg', alt='cloud 1', title='shop edit', width='20', height='20')
                            span.yellow | Shop Edit
                    li
                        a(href='/samplefour/jambles')
                            img(src='/images/rA.jpg', alt='cloud 1', title='jambles', width='20', height='20')
                            span.yellow | Jambles
                    li
                        a(href='/samplefour/contact')
                            img(src='/images/rA.jpg', alt='cloud 1', title='contact debbie!', width='20', height='20')
                            span.yellow | Contact
                    li
                        a(href='/samplefour/stuff')
                            img(src='/images/rA.jpg', alt='cloud 1', title='stuff', width='20', height='20')
                            span.yellow | Stuff
                hr
        #buttons
        #gallery
            img(src='/images/CELINE/c1.jpg', data-tags='Celine', alt='Rabbit')
            img(src='/images/CELINE/c13.jpg', data-tags='Celine', alt='Sea')
            img(src='/images/CELINE/c16.jpg', data-tags='Celine', alt='Deer')
            img(src='/images/CELINE/c18.jpg', data-tags='Celine', alt='New York Street Map')
            img(src='/images/RUNWAY/ALT1.jpg', data-tags='Altuzarra', alt='Rabbit')
            img(src='/images/RUNWAY/ALT2.jpg', data-tags='Altuzarra', alt='Deer')
            img(src='/images/RUNWAY/ALT3.jpg', data-tags='Altuzarra', alt='Deer')
            img(src='/images/RUNWAY/CK.jpg', data-tags='Calvin Klein', alt='Deer')
            img(src='/images/RUNWAY/G1.jpg', data-tags='Giambattista', alt='New York Street Map')
            img(src='/images/RUNWAY/G2.jpg', data-tags='Giambattista', alt='Sea')
            img(src='/images/RUNWAY/MAX1.jpg', data-tags='Max Mara', alt='Deer')
            img(src='/images/RUNWAY/NINA1.jpg', data-tags='Nina Ricci', alt='New York Street Map')
            img(src='/images/RUNWAY/NINA2.jpg', data-tags='Nina Ricci', alt='Rabbit')
            img(src='/images/RUNWAY/NINA3.jpg', data-tags='Nina Ricci', alt='Sea')
            img(src='/images/RUNWAY/V1.jpg', data-tags='Valentino', alt='Deer')
            img(src='/images/RUNWAY/V2.jpg', data-tags='Valentino', alt='New York Street Map')
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/fcopy.js')

