doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Fashion Stufffs
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/b15.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

body
    .blog-masthead
        .container
            nav.blog-nav
                a.blog-nav-item.active(href='/') Back to Yang Site
                a.blog-nav-item(href='#') Men's Runway
                a.blog-nav-item(href='#') Women's Runway
                a.blog-nav-item(href='#') Fashion Stuff
                a.blog-nav-item(href='#') Only the First Link Functions!

        .container
        .row
        .col-xs-12.col-sm-8
          .row.list-group
            h4#top=title
            each designer in designers
              .col-xs-12.col-md-3list-group-item
                h5
                  a(href="#designer")= designer
        .col-xs-12.col-md-9
        .row.text-center
        .col-xs-9.col-md-6
            h3#acne.text-center.text-uppercase acne
            p street sweet
            p
                a(href='#top') UP!
        .col-md-3
            img.img-responsive(src='/images/mensrunwayimages/acne14.jpg', width='200', height='150')
            h3.text-uppercase Look 1
        .row
            .col-md-12
                hr
        .row.text-center
            .col-md-3
                h3#apc.text-center.text-uppercase A.P.C.
                p fuzzy minimal
                p
                    a(href='#top') UP!
            .col-md-3
                img.img-responsive(src='/images/mensrunwayimages/apc1.jpg', width='200', height='150')
                h3.text-uppercase Look 1
            .col-md-3
                img.img-responsive(src='/images/mensrunwayimages/apc3.jpg', width='200', height='150')
                h3.text-uppercase Look 3
            .col-md-3
                img.img-responsive(src='/images/mensrunwayimages/apc8.jpg', width='200', height='150')
                h3.text-uppercase Look 8
        .row
            .col-md-12
                hr
            .row.text-center
                .col-md-3
                    h3#bally.text-center.text-uppercase bally
                    p very cool very nice
                    p
                        a(href='#top') UP!
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally1.jpg', width='200', height='150')
                    h3.text-uppercase Look 1
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally2.jpg', width='200', height='150')
                    h3.text-uppercase Look 2
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally15.jpg', width='200', height='150')
                    h3.text-uppercase Look 15
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally16.jpg', width='200', height='150')
                    h3.text-uppercase Look 16
            .row.text-center
                .col-md-3
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally17.jpg', width='200', height='150')
                    h3.text-uppercase Look 17
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally18.jpg', width='200', height='150')
                    h3.text-uppercase Look 18
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally19.jpg', width='200', height='150')
                    h3.text-uppercase Look 1
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/bally23.jpg', width='200', height='150')
                    h3.text-uppercase Look 23
            .row
                .col-md-12
                    hr
            .row.text-center
                .col-md-3
                    h3#boglioli.text-center.text-uppercase boglioli
                    p ciao
                    p
                        a(href='#top') UP!
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/boglioli2.jpg', width='200', height='150')
                    h3.text-uppercase Look 2
                .col-md-2
                    img.img-responsive(src='/images/mensrunwayimages/boglioli17.jpg', width='200', height='150')
                    h3.text-uppercase Look 17
            .row
                .col-md-12
                    hr
            .row.text-center
                .col-md-3
                    h3#canalli.text-center.text-uppercase canalli
                    p control
                    p
                        a(href='#top') UP!
                .col-md-3
                    img.img-responsive(src='/images/mensrunwayimages/canalli1.jpg', width='200', height='150')
                    h3.text-uppercase Look 1
                .col-md-3
                    img.img-responsive(src='/images/mensrunwayimages/canalli2.jpg', width='200', height='150')
                    h3.text-uppercase Look 2
                .col-md-3
                    img.img-responsive(src='/images/mensrunwayimages/canalli6.jpg', width='200', height='150')
                    h3.text-uppercase Look 6
            .row
                .col-md-12
                    hr
                .row.text-center
                    .col-md-3
                        h3#cerruti.text-center.text-uppercase cerruti
                        p set
                        p
                            a(href='#top') UP!
                    .col-md-3
                        img.img-responsive(src='/images/mensrunwayimages/cerruti5.jpg', width='200', height='150')
                        h3.text-uppercase Look 5
                    .col-md-3
                        img.img-responsive(src='/images/mensrunwayimages/cerruti18.jpg', width='200', height='150')
                        h3.text-uppercase Look 18
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#coach.text-center.text-uppercase coach
                            p ll kool
                            p
                                a(href='#top') UP!
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/coach1.jpg', width='200', height='150')
                            h3.text-uppercase Look 1
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/coach2.jpg', width='200', height='150')
                            h3.text-uppercase Look 2
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/coach6.jpg', width='200', height='150')
                            h3.text-uppercase Look 6
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/coach29.jpg', width='200', height='150')
                            h3.text-uppercase Look 29
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#dior.text-center.text-uppercase dior
                            p street sweet
                            p
                                a(href='#top') UP!
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/dior41.jpg', width='200', height='150')
                            h3.text-uppercase Look 41
                    .row
                        .col-md-12
                            hr
                    .col-md-3
                        h3#duckiebrown.text-center.text-uppercase duckie brown
                        p set
                        p
                            a(href='#top') UP!
                    .col-md-3
                        img.img-responsive(src='/images/mensrunwayimages/duckie1.jpg', width='200', height='150')
                        h3.text-uppercase Look 1
                    .col-md-3
                        img.img-responsive(src='/images/mensrunwayimages/duckie6.jpg', width='200', height='150')
                        h3.text-uppercase Look 6
                .row
                    .col-md-12
                        hr
                .row.text-center
                    .col-md-3
                        h3#etautz.text-center.text-uppercase e.tautz
                        p street sweet
                        p
                            a(href='#top') UP!
                    .col-md-3
                        img.img-responsive(src='/images/mensrunwayimages/etautz25.jpg', width='200', height='150')
                        h3.text-uppercase Look 25
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#etro.text-center.text-uppercase etro
                            p set
                            p
                                a(href='#top') UP!
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/etro5.jpg', width='200', height='150')
                            h3.text-uppercase Look 5
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/etro11.jpg', width='200', height='150')
                            h3.text-uppercase Look 11
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#ezegna.text-center.text-uppercase e.zegna
                            p control
                            p
                                a(href='#top') UP!
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/ezegna2.jpg', width='200', height='150')
                            h3.text-uppercase Look 2
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/ezegna3.jpg', width='200', height='150')
                            h3.text-uppercase Look 3
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/ezegna8.jpg', width='200', height='150')
                            h3.text-uppercase Look 8
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#ferragamo.text-center.text-uppercase ferragamo
                            p lover and a fighter
                            p
                                a(href='#top') UP!
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/ferragamo1.jpg', width='200', height='150')
                            h3.text-uppercase Look 1
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/ferragamo3.jpg', width='200', height='150')
                            h3.text-uppercase Look 3
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/ferragamo4.jpg', width='200', height='150')
                            h3.text-uppercase Look 4
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/ferragamo5.jpg', width='200', height='150')
                            h3.text-uppercase Look 5
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#gucci.text-center.text-uppercase gucci
                            p lover and a fighter
                            p
                                a(href='#top') UP!
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/gucci6.jpg', width='200', height='150')
                            h3.text-uppercase Look 6
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/gucci8.jpg', width='200', height='150')
                            h3.text-uppercase Look 8
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/gucci10.jpg', width='200', height='150')
                            h3.text-uppercase Look 10
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/gucci41.jpg', width='200', height='150')
                            h3.text-uppercase Look 41
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#hermes.text-center.text-uppercase hermes
                            p lover and a fighter
                            p
                                a(href='#top') UP!
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/hermes1.jpg', width='200', height='150')
                            h3.text-uppercase Look 1
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/hermes2.jpg', width='200', height='150')
                            h3.text-uppercase Look 2
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/hermes13.jpg', width='200', height='150')
                            h3.text-uppercase Look 13
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/hermes31.jpg', width='200', height='150')
                            h3.text-uppercase Look 31
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#issey.text-center.text-uppercase issey miyake
                            p fit
                            p
                                a(href='#top') UP!
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/issey16.jpg', width='200', height='150')
                            h3.text-uppercase Look 16
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/issey19.jpg', width='200', height='150')
                            h3.text-uppercase Look 19
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/issey20.jpg', width='200', height='150')
                            h3.text-uppercase Look 20
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#jcrew.text-center.text-uppercase j.crew
                            p pumpkin dranks
                            p
                                a(href='#top') UP!
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/jcrew1.jpg', width='200', height='150')
                            h3.text-uppercase Look 1
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/jcrew5.jpg', width='200', height='150')
                            h3.text-uppercase Look 5
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/jcrew6.jpg', width='200', height='150')
                            h3.text-uppercase Look 6
                    .row
                        .col-md-3
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/jcrew9.jpg', width='200', height='150')
                            h3.text-uppercase Look 9
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/jcrew10.jpg', width='200', height='150')
                            h3.text-uppercase Look 10
                        .col-md-3
                            img.img-responsive(src='/images/mensrunwayimages/jcrew11.jpg', width='200', height='150')
                            h3.text-uppercase Look 11
                    .row
                        .col-md-12
                            hr
                    .row.text-center
                        .col-md-3
                            h3#jw.text-center.text-uppercase j.w.anderson
                            p lover and a fighter
                            p
                                a(href='#top') UP!
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/jw4.jpg', width='200', height='150')
                            h3.text-uppercase Look 4
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/jw14.jpg', width='200', height='150')
                            h3.text-uppercase Look 14
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/jw17.jpg', width='200', height='150')
                            h3.text-uppercase Look 17
                        .col-md-2
                            img.img-responsive(src='/images/mensrunwayimages/jw19.jpg', width='200', height='150')
                            h3.text-uppercase Look 19

