doctype html
html
    head
        title debbie chong!
        link(rel='stylesheet', type='text/css', href='../stylesheets/960_12_col.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/tired.css')
    body
        .header
            .container_12
                .grid_1
                    h2#y Yang

                .nav.grid_4

                    //-a(href='/')  Home |
                    //-a(href='/style') Style |
                    //-a(href='/fall17')  Runway |
                    //-a(href='/bags')  Edits |
                    //-a(href='/jjjambles')  Jumbles |
                    a(href='/')  home :)
        .wrapper
            .container_12
                .grid_12
                  p.daily never the same twice 
                  h6.d 01.24.18
                  p.d alive and wildin!
                  h6.d 01.20.18
                  p.d i miss the face you make when you worry
                  p.d Uranus faces off with Venus and the Sun
                  p.d everyone is eating cheerios ~ new me in 2018
                  p.d be nice and responsive when children ask questions
                  p.d regina opera recap > lady and man come out screaming and no one had fun
                  h6.d 01.12.18
                  p.d avoid speculative projects
                  h6.d 12.18.17
                  p.d game over
                  h6.d 12.15.17
                  p.d mimicking projections
                  p.d opposing the direction of logic
                  h6.d 12.14.17
                  p.d supermoon in gemini
                  p.d lots of frosted flakes and bags of sticks
                  h6.d 12.04.17
                  p.d warm and fuzzy, through my eyelids shine
                  h6.d 12.01.17
                  p.d tiny dogs
                  p.d whoops, happy birthday
                  p.d this is the best part!
                  h6.d 11.29.17
                  p.d burbling overrrrrrrr
                  h6.d 11.28.17
                  p.d i need a haircut
                  p.d more yang than ever
                  p.d lemon and ginger, so cozy ~
                  h6.d 11.26.17
                  p.d whoops
                  p.d two hang ups max authorized
                  h6.d 11.25.17
                  p.d whyyyyyyyyyyyyy
                  p.d this is the part where i wait to see what happens
                  p.d my new thing is cream innerwear and white or pink socks
                  h6.d 11.24.17
                  p.d yang switch
                  p.d this counts as fun
                  p.d you are nice, but not for me
                  h6.d 11.22.17
                  p.d circus act
                  p.d competing demands
                  p.d how do dogs decide?
                  h6.d 11.21.17
                  p.d it took forever to get to this part
                  h6.d 11.20.17
                  p.d ~
                  p.d some cats are long
                  h6.d 11.17.17
                  p.d if you see this, hi!
                  h6.d 11.16.17
                  p.d and for my next trick
                  p.d yang styled as an adult, YOINK!
                  p.d a wolf exposed
                  h6.d 11.15.17
                  p.d  ~ 20/80
                  p.d feeling all sorts excitability
                  h6.d 11.14.17
                  p.d fun and easy
                  p.d never enough
                  p.d chong shorthand aliver than ever
                  h6.d 11.13.17
                  p.d ~ 30/70
                  p.d he is my favorite too
                  p.d very present and so peng
                  p.d out of sight, out of mind POOF
                  h6.d 11.12.17
                  p.d this is some romcom nonsense y'all
                  p.d pretty muchily very happy
                  h6.d 11.11.17
                  p.d venus is in scorpio. YOWZA
                  h6.d 11.10.17
                  p.d he prepared pork chops last night
                  p.d be diplomatic from here on
                  h6.d 11.09.17
                  p.d didn't burn the eggs this AM
                  p.d friends but also rivals
                  p.d out of sight, out of mind.
                  p.d ~ abracadabra ~
                  h6.d 11.08.17
                  p.d feeling extra kittenish/rococo
                  p.d i stopped doing the thing where i stand with the refrigerator open and take my omega3s and Ds
                  h6.d 11.07.17
                  p.d i like that he always finishes his food
                  h6.d 11.06.17
                  p.d at ease
                  h6.d 11.05.17
                  p.d at present 70/30
                  h6.d 11.03.17
                  p.d the F always smells like sandwiches
                  h6.d 11.02.17
                  p.d two i like the most. 60/40 ~
                  p.d no skunks!
                  p.d the gallery attendant at gagosian on 21st has a nice smile. teeth are shiny and squared
                  h6.d 11.01.17
                  p.d i like to listen to tchaikovsky/aphex twin real quiet and migrate data to mlab
                  p.d chakras aligned, aura is advanced
                  h6.d 10.19.17
                  p.d lilac/black and white/peachpuff/very blue denim
                  p.d enclosed and specific
                  p.d social platforms/individual thoughts
                  p.d rainy days/coffee/socks/bubble bath/thinking about your mom
                  p.d i don't miss you
                  h6.d 10.14.17
                  p.d i watched so many kimmy schmidts
                  h6.d 10.13.17
                  p.d jupiter in scorpio y'all
                  h6.d 10.11.17
                  p.d new idea ~ hot wiring my neural circuits to hear at dog level frequencies
                  h6.d 10.07.17
                  p.d i haven't seen the skunk for two days :/
                  h6.d 10.05.17
                  p.d effects accumulate
                  h6.d 10.01.17
                  p.d skunks freak me out
                  h6.d 09.30.17
                  p.d look at it this way and it makes "sense"
                  p.d i was nice to you two times and now its cool and we can chat about vitamins
                  p.d please get a grip or take a nap
                  p.d i googled jenny holzer's husband!
                  h6.d 09.29.17
                  p.d laughing at your own punchline
                  h6.d 09.26.2017
                  p.d a heart possessed
                  p.d most consuming and most exhausting
                  p.d burble over
                  h6.d 09.25.17
                  p.d á l'infini
                  h6.d 09.23.17
                  p.d turnaroundinsidehappy
                  h6.d 09.22.17
                  p.d unbridled enthusiasm
                  h6.d 09.21.17
                  p.d morethanever
                  p.d never twice the same
                  p.d non-digital product
                  p.d very clean and bright and cold
                  p.d teddy bear fuzzy
                  h6.d 09.20.17
                  p.d the sun enters libra on friday
                  h6.d 09.18.17
                  p.d ithinkicanithinkicanithinkican
                  h6.d 09.17.17
                  p.d ~~~ beurre vanille´ ~~~
                  h6.d 09.14.17
                  p.d once more, with FEELING
                  h6.d 09.11.17
                  p.d mars and venus in virgo, y'all
                  h6.d 09.08.17
                  p.d fresh to def
                  h6.d 09.04.17
                  p.d everything counts
                  h6.d 08.31.17
                  p.d ~
                  h6.d 08.30.17
                  p.d new and improved with more chill++++
                  h6.d 08.27.17
                  p.d when you're ready
                  h6.d 08.18.17
                  p.d escape mercury via reverse reverse side step solar loop
                  h6.d 08.16.17
                  p.d cliched intensifiers
                  h6.d 08.15.17
                  p.d shout out to solaray cal/mag/zinc
                  h6.d 08.13.17
                  p.d yo, pierre!
                  h6.d 08.12.17
                  p.d IloveyouIloveyouIloveyou
                  h6.d 08.11.17
                  p.d I ordered the business platter lunch special at pita inn. It is the same thing as the combo feast but only $6.99. I like saying combo feast though
                  h6.d 08.10.17
                  p.d Prepare to have a bad day if you have chris brown running in your mind
                  h6.d 08.09.17
                  p.d Bad debbie habit ~ leaving the refrigerator door open while I take my omega3s and Ds
                  h6.d 08.08.17
                  p.d At wfoods there is a new coconut oil and pineapple toothpaste. I think that's gross
                  h6.d 08.07.17
                  p.d Rake it up
                  h6.d 08.05.17
                  p.d Blue or gray, croc embossed
                  p.d Roasted, bone in
                  p.d Lateral width 10, level 15, 41 minutes, X-Mode in reverse
                  p.d Flowers just grow like that
                  p.d I think I can, I think I can
                  h6.d 08.04.17
                  p.d I need to stop doing the thing where I pant like a doggie when I get hot or tired
                  p.d I used to just think about golden retrievers
                  p.d Also twix mix. I like thinking about twix mashed up in vanilla ice cream
                  h6.d 08.03.17
                  p.d Very specific
                  h6.d 08.02.17
                  p.d I think I'll see you in my next life and know your face
                  p.d 1 hour of walking to offset the 9 staring at terminal
                  h6.d 08.01.17
                  p.d Cinnamon in coffeeeeeeeeeeeee
                  h6.d 07.31.17
                  p.d I like to buy garbage 2 for $6 conditioner at target and use gobs of it in the shower
                  h6.d 07.30.17
