doctype html
html
    head
        title Very FA
        link(rel='stylesheet', type='text/css', href='stylesheets/960_12_col.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/tired.css')
    body
        .header
            .container_12
                .grid_3
                    h2#y Yang

                .nav.grid_9

                    a(href='/')  Home |
                    a(href='')  Runway |
                    a(href='')  Edits |
                    a(href='/yang')  Jumbles |
                    a(href='/about')  About
        .wrapper
            .container_12
                .grid_12
                  p.daily 1 hour of walking to offset the 9 staring at terminal
                  h6.d 08.01.17
                .grid_12
                  p.d Cinnamon in coffeeeeeeeeeeeee
                  h6.d 07.31.17
                .grid_12
                  p.d I like to buy garbage 2 for $6 conditioner at target and use gobs of it in the shower
                  h6.d 07.30.17