doctype html
html
    head
        title Very FA
        link(rel='stylesheet', type='text/css', href='stylesheets/960_12_col.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/tired.css')
    body
        .header
            .container_12
                .grid_3
                    h2#y Yang

                .nav.grid_9

                    a(href='/yang')  Home |
                    a(href='/fall17')  Runway |
                    a(href='/bags')  Edits |
                    a(href='/jjjambles')  Jumbles |
                    a(href='/about')  About
        .wrapper
            .container_12
                .grid_12
                  p.daily ithinkicanithinkicanithinkican
                  h6.d 09.17.17
                  p.d ~~~ beurre vanille´ ~~~
                  h6.d 09.14.17
                  p.d once more, with FEELING
                  h6.d 09.11.17
                  p.d mars and venus in virgo, y'all
                  h6.d 09.08.17
                  p.d fresh to def
                  h6.d 09.04.17
                  p.d everything counts
                  h6.d 08.31.17
                  p.d ~
                  h6.d 08.30.17
                  p.d new and improved with more chill++++
                  h6.d 08.27.17
                  p.d when you're ready
                  h6.d 08.18.17
                  p.d escape mercury via reverse reverse side step solar loop
                  h6.d 08.16.17
                  p.d cliched intensifiers
                  h6.d 08.15.17
                  p.d shout out to solaray cal/mag/zinc
                  h6.d 08.13.17
                  p.d yo, pierre!
                  h6.d 08.12.17
                  p.d IloveyouIloveyouIloveyou
                  h6.d 08.11.17
                  p.d I ordered the business platter lunch special at pita inn. It is the same thing as the combo feast but only $6.99. I like saying combo feast though
                  h6.d 08.10.17
                  p.d Prepare to have a bad day if you have chris brown running in your mind
                  h6.d 08.09.17
                  p.d Bad debbie habit ~ leaving the refrigerator door open while I take my omega3s and Ds
                  h6.d 08.08.17
                  p.d At wfoods there is a new coconut oil and pineapple toothpaste. I think that's gross
                  h6.d 08.07.17
                  p.d Rake it up
                  h6.d 08.05.17
                  p.d Blue or gray, croc embossed
                  p.d Roasted, bone in
                  p.d Lateral width 10, level 15, 41 minutes, X-Mode in reverse
                  p.d Flowers just grow like that
                  p.d I think I can, I think I can
                  h6.d 08.04.17
                  p.d I need to stop doing the thing where I pant like a doggie when I get hot or tired
                  p.d I used to just think about golden retrievers
                  p.d Also twix mix. I like thinking about twix mashed up in vanilla ice cream
                  h6.d 08.03.17
                  p.d Very specific
                  h6.d 08.02.17
                  p.d I think I'll see you in my next life and know your face
                  p.d 1 hour of walking to offset the 9 staring at terminal
                  h6.d 08.01.17
                  p.d Cinnamon in coffeeeeeeeeeeeee
                  h6.d 07.31.17
                  p.d I like to buy garbage 2 for $6 conditioner at target and use gobs of it in the shower
                  h6.d 07.30.17
