doctype html
html
    head
        title Very FA
        link(rel='stylesheet', type='text/css', href='stylesheets/960_12_col.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/tired.css')
    body
        .header
            .container_12
                .grid_3
                    h2#y Yang

                .nav.grid_9

                    a(href='/')  Home |
                    a(href='')  Runway |
                    a(href='')  Edits |
                    a(href='/yang')  Jumbles |
                    a(href='/about')  About
        .wrapper
            .container_12
                .grid_12
                  p.daily I need to stop doing the thing where I pant like a doggie when I get hot or tired
                  p.d I used to just think about golden retrievers
                  p.d Also twix mix. I like thinking about twix mashed up in vanilla ice cream
                  h6.d 08.03.17
                  p.d Very specific
                  h6.d 08.02.17
                  p.d I think I'll see you in my next life and know your face
                  p.d 1 hour of walking to offset the 9 staring at terminal
                  h6.d 08.01.17
                  p.d Cinnamon in coffeeeeeeeeeeeee
                  h6.d 07.31.17
                  p.d I like to buy garbage 2 for $6 conditioner at target and use gobs of it in the shower
                  h6.d 07.30.17