extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-4
                h2 mooooove

            // img.img-responsive(src='images/royal.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='images/mika.jpg')
                hr
                img.img-responsive(src='images/mika.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='images/mika.jpg')
                hr
                img.img-responsive(src='images/mika.jpg')
            .col-xs-12.col-sm-2.left
                img.img-responsive(src='images/mika.jpg')
                hr
                img.img-responsive(src='images/mika.jpg')

            .col-xs-12.col-sm-2.left
                img.img-responsive(src='images/mika.jpg')
                hr
                img.img-responsive(src='images/mika.jpg')