extends faBase
block content
    .container.mmain
        .row
            .col-xs-12.col-sm-2
            .col-xs-12.col-sm-5
                img.img-responsive(src='images/splash/proenza16.jpg')
            .col-xs-12.col-sm-3.left
                h1#main
                    a(href='/spring18') Proenza Schouler
                p Spring 2018
                p Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs Stuff stuff stuf more stuff stuff stuff stuff more stuffs stufff
                    br
                    span#arc
                        a(href='/spring18') Continue reading...
        .container
            .row.left
                .col-xs-12

                    hr
                .col-xs-12.col-sm-3
                    h3.above
                        a(href='/spring18') RTW Spring 2018

                    h6 *runway images via vogue.com*

        .container
            .row
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/proenza18.jpg')
                    p.more
                        a(href='/spring18') Proenza Schouler Spring 2018
                    p.more
                        a(href='/barneys') OMG Let&apos;s chat about all the brown bags at Barneys
                    p.more
                        a(href='/acne') All the stuff I want  at Acne
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/proenza9.jpg')
                    p.more
                        a(href='/spring18') Proenza Schouler Spring 2018
                    p.more
                        a(href='/jjjambles') Crazy sale stuff that isn&apos;t ugly! Buy Buy Buy
                    p.more
                        a(href='/jjjambles') Check out the knits at Mr.Porter
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/pro10.jpg')
                    p.more
                        a(href='/spring18') Proenza Schouler Spring 2018
                    p.more
                        a(href='/jjjambles') Wow copper tongue scraper from Living Libations
                    p.more
                        a(href='/jjjambles') Goop has cool undies!
                .col-xs-6.col-sm-3.col-md-3.mini
                    //img.img-responsive(src='images/splash/proenza11.jpg')
                    img.img-responsive(src='images/rod34.jpg')

                    p.more
                        a(href='/spring18') Rodarte Spring 2018
                    p.more
                        a(href='/mens16') RTW Fall 2016 Men's Highlights
                    p.more
                        a(href='/jjjambles') I just won the lotto, let's buy all this stuff at ssense

        .container
            .row
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/acne29.jpg')
                    p.more.lastmore
                        a(href='/fall17') Acne Studios Fall 2017
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/r8.jpg')
                    p.more.lastmore
                        a(href='/fall17') Rochas Fall 2017
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/aujour30.jpg')
                    p.more.lastmore
                        a(href='/fall17') Au Jour Le Jour Fall 2017
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/brock31.jpg')
                    p.more.lastmore
                        a(href='/fall17') Brock Collection Fall 2017

        .container
            .row
                .col-xs-12.col-sm-6.left
                    h3.above
                        a(href='/bags') Shop Mansur Gavriel Bags
        .container
            .row
                .col-xs-6.col-sm-6.col-md-2.mini
                    a(href='/bags')
                        img.img-responsive(src='images/splash/mgazure.jpg')

                    p.more.lastmore
                        a(href='')
                .col-xs-6.col-sm-6.col-md-2.mini
                    a(href='/bags')
                        img.img-responsive(src='images/splash/mgblush.jpg')
                    p.more.lastmore
                        a(href='')
                .col-xs-6.col-sm-6.col-md-2.mini
                    a(href='/bags')
                        img.img-responsive(src='images/splash/mgcamel.jpg')
                    p.more.lastmore
                        a(href='')
                .col-xs-6.col-sm-6.col-md-2.mini
                    a(href='/bags')
                        img.img-responsive(src='images/splash/mgmerlot.jpg')
                    p.more.lastmore
                        a(href='')
                .col-xs-6.col-sm-6.col-md-2.mini
                    a(href='/bags')
                        img.img-responsive(src='images/splash/mgwhite.jpg')
                    p.more.lastmore
                        a(href='')
                .col-xs-6.col-sm-6.col-md-2.mini
                    a(href='/bags')
                        img.img-responsive(src='images/splash/mgblack.jpg')
                    p.more.lastmore
                        a(href='')
        .container
            .row
                .col-xs-12.col-sm-6.left
                    h3.above
                        a(href='/alltogether') Shop All Together
        .container
            .row
                #dot.col-sm-3.text-center
                    img(src='images/all/nk.jpg', height='300')
                .col-sm-9
                    .col-xs-6.col-sm-4.text-center
                        img(src='images/all/swo.jpg', height='200')
                    .col-xs-6.col-sm-4.text-center
                        img(src='images/all/birte.jpg', height='200')
                    .col-xs-6.col-sm-4.text-center
                        img(src='images/all/city.jpg', height='200')
                    .col-xs-6.col-sm-4.text-center
                        img(src='images/all/ng.jpg', height='200')
                    .col-xs-6.col-sm-4.text-center
                        img(src='images/all/lespec.jpg', height='200')
                    .col-xs-6.col-sm-4.text-center
                        img(src='images/all/ss.jpg', height='200')

        .container
            .row
                .col-xs-6.col-md-3.mini
                    img.img-responsive(src='images/splash/fendboo.jpg')
                    p.more.lastmore
                        a(href='/bags') Shop Fendi
                .col-xs-6.col-md-3.mini
                    img.img-responsive(src='images/splash/fendihiss.jpg')
                    p.more.lastmore
                        a(href='/bags') Shop Fendi
                .col-xs-6.col-md-3.mini
                    img.img-responsive(src='images/splash/fendboo.jpg')
                    p.more.lastmore
                        a(href='/bags') Shop Fendi
                .col-xs-6.col-sm-3.col-md-3.mini
                    img.img-responsive(src='images/splash/fendihiss.jpg')
                    p.more.lastmore
                        a(href='/bags') Shop Fendi