extends faBase
block content
    .container
        .row
            .col-xs-12.col-sm-12
                h3 Spring 2018
    .container
        .row
            #buttons.col-xs-4.col-sm-2
            #gallery.col-xs-8.col-sm-10
                img(src='images/splash/proenza16.jpg', data-tags='Proenza Schouler', alt='model on the runway')
                img(src='images/splash/proenza9.jpg', data-tags='Proenza Schouler', alt='model on the runway')
                img(src='images/splash/proenza18.jpg', data-tags='Proenza Schouler', alt='model on the runway')
                img(src='images/splash/pro10.jpg', data-tags='Proenza Schouler', alt='model on the runway')
                img(src='images/splash/proenza11.jpg', data-tags='Proenza Schouler', alt='model on the runway')
                img(src='images/rod34.jpg', data-tags='Rodarte', alt='model on the runway')
                img(src='images/rod41.jpg', data-tags='Rodarte', alt='model on the runway')

    p#uppp
            a(href='#buttons') ^UP^
