<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome to yang site!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <link href="yangflex.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">

      <div id="name" class="colone">
        <div class="me">
          <h3 id="name">Debbie Chong</h3>
           <p id="city">New York, NY</p>
          <br>
        </div>
      </div>

      <div class="coltwo">
        <div id="info">
          <br>
          <br>
          <br>
          <div id="contact">
            <p>
              <a href="mailto:debragchong@gmail.com">debragchong@gmail.com</a>
              <br>
              <a href="https://www.instagram.com/mrdebbiechong/">instagram</a>
              <br>
              <a href="https://www.linkedin.com/in/debbiechong8">linkedin</a>
              <br>
              <a href="https://git.generalassemb.ly/misterdebbie">github</a>
            </p>
            <p class="bright"><b>Hello</b></p>
            <p id="yangstory">I am a full stack developer, former fashion buyer. From art to fashion to tech, I forecast by interpreting and observing the surrounding environments to inform my design decisions. My outlook is bright and alive, responsive to the interactions I have with others. I am the conduit coursing between the digital world and the social by creating web applications that are mindful of the user. Leveraging my customer service skills in client building, I translate those insights into writing applications that consider the needs of a user. My strength lies in shaping an experience that presents data in a digestible manner while simultaneously rendering a front end interface that is aesthetically vibrant.</p>
            <p class="bright" id="present">
              <b>Present</b>
           </p>
           <br>
           <p id="student"> Web Development Immersive at General Assembly, selected projects:</p>
            <div class="hoverr">
               <a href="#">one<span><img src="http://res.cloudinary.com/devbov2b0/image/upload/v1520628600/yangprev_avrv5e.png" alt="model" height="200" width:"130" /></span></a>
            </div>

            <div class="hoverr">
               <a href="#">two<span><img src="http://res.cloudinary.com/devbov2b0/image/upload/v1520628527/usda_g3jzfq.png" alt="food icons" height="200" width:"130" /></span></a>
            </div>

            <div class="hoverr">
               <a href="#">three<span><img src="http://res.cloudinary.com/devbov2b0/image/upload/v1520628402/cloud_odjohp.png" alt="clouds" height="200" width:"130" /></span></a>
            </div>

            <div class="hoverr">
               <a href="#">four<span><img src="http://res.cloudinary.com/devbov2b0/image/upload/v1520628465/puppy_s7gxzq.png" alt="puppies" height="200" width:"130" /></span></a>
            </div>

            <div class="hoverr">
               <a href="#">five<span><img src="http://res.cloudinary.com/devbov2b0/image/upload/v1520628633/store_zxfqdl.png" alt="items" height="200" width:"130" /></span></a>
            </div>

          </p>
          <p class="bright">
            <b>Past</b>
          </p>
          <p>E-commerce Assistant at Opening Ceremony</p>
          <p>Merchandise Coordinator at Saks Off 5th</p>
          <p>Dairy and Raw Foods Buyer at Whole Foods</p>
          <p>Women's Clothing and Accessories Buyer at Belmont Army</p>
          <p>Stylist and Visuals Assistant at J.Crew</p>
          <p>Assistant Manager at Abercrombie and Fitch</p>
        </div>
        </div>
     </div>
   </div>

  </body>
</html>
