extends faBase
block content
    .container
        .row
            .col-xs-12.col-sm-12.text-center
                p Read at the New Yorker
                p
                a(href='http://www.newyorker.com/magazine/1974/12/23/good-cooking') Good Cooking
                p
                a(href='http://www.newyorker.com/tech/elements/diy-artificial-intelligence-comes-to-a-japanese-family-farm') D.I.Y. Artificial Intelligence Comes to a Japanese Family Farm

                h6 08.13.17