doctype html
html
    head
        title Yang Main
        link(href='/stylesheets/yangDeux.css', type='text/css', rel='stylesheet')
    body
        #header
            p.headmini
                a.blue(href='/hello') Hello
            p.headmini
                a(href='')
                    img(src='images/rA.jpg', alt='cloud 1', title='site home', width='20', height='20')
            p
                img#hello(src='images/h.jpg', alt='cloud 1', title='i drew this!')
            #nav
                ul
                    li
                        a.blue(href='/yang') Yang
                    li
                        a(href='/')
                          img(src='images/rA.jpg', alt='cloud 3', title='runway looks', width='20', height='20')
                          span.pink Main FA
                    li
                        a(href='/sampleone')
                            img(src='images/rA.jpg', alt='cloud 3', title='runway looks', width='20', height='20')
                            span.pink Sample 1
                    li
                        a(href='/sampletwo')
                            img(src='images/rA.jpg', alt='cloud 1', title='shop edit', width='20', height='20')
                            span.pink Sample 2
                    li
                        a(href='/samplethree')
                            img(src='images/rA.jpg', alt='cloud 1', title='jambles', width='20', height='20')
                            span.pink Sample 3
                    li
                        a(href='/samplefour')
                            img(src='images/rA.jpg', alt='cloud 1', title='contact debbie!', width='20', height='20')
                            span.pink Sample 4
                    li
                        a(href='/about')
                            img(src='images/rA.jpg', alt='cloud 1', title='stuff', width='20', height='20')
                            span.pink  About
