doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title house hang!!!
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='stylesheets/yC.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') YANG
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') home
                    li
                        a(href='#') runway
                    li
                        a(href='#') edits
                    li
                        a(href='#') jambles
                    li
                        a(href='#') about
            // /.navbar-collapse
        // /.container-fluid
    .container.main
        .row
            .col-xs-12.col-sm-2
            .col-xs-12.col-sm-7
                // <h1 id="mtitle"><a href="">Forever</a></h1>
                img.img-responsive(src='/images/ck24.jpg')
            //
              <div class="col-xs-12 col-sm-3 left">
              <h1 class="left">Forever</h1>
              <p class="date left">16 APRIL 2011</p>
              <p class="left">The veloheld combines minimalist design with superb quality. Devoid of excessive graphics and gear shift components, the veloheld product range delights us with its beauty and simplicity. The black and white (yin and yang?) bicycles feature a short wheelbase, a single gear and a narrow handlebar... All you need to explore the city streets. <a href="">Continue reading...</a></p>
              </div>
            .col-xs-12.col-sm-3.left
                h1 Forever
                p 16 APRIL 2011
                p The veloheld combines minimalist design with superb quality. Devoid of excessive graphics and gear shift components, the veloheld product range delights us with its beauty and simplicity. The black and white (yin and yang?) bicycles feature a short wheelbase, a single gear and a narrow handlebar... All you need to explore the city streets.
                    a(href='') Continue reading...
            // row
        // container.main
        .container.wrapper
            .row
                .col-xs-12
                    hr
                .col-xs-12.col-sm-1
                    h3#start FFFASHION
            // row
        // container.wrapper
        .container
            .row
                .col-xs-12.col-sm-3.col-md-3.mini
                    // <h1 id="mtitle"><a href="">Forever</a></h1>
                    img.img-responsive(src='/images/valli21.jpg')
                    p.more
                        a(href='') Product Review: All baskets were not created equal
                    p.more
                        a(href='') Going Public: Out &amp; about with the founder of Public
                    img(src='/images/rolex.jpg' width="200" height="260")
                    p.more.lastmore
                        a(href='') Cycle Lane Defence: Know your rights
                .col-xs-12.col-sm-3.col-md-3.mini
                    // <h1 id="mtitle"><a href="">Forever</a></h1>
                    img.img-responsive(src='/images/nina46.jpg')
                    p.more
                        a(href='') Product Review: All baskets were not created equal
                    p.more
                        a(href='') Going Public: Out &amp; about with the founder of Public
                    img(src='/images/proenza.jpg' width="200" height="260")
                    p.more.lastmore
                        a(href='') Cycle Lane Defence: Know your rights
                .col-xs-12.col-sm-3.col-md-3.mini
                    // <h1 id="mtitle"><a href="">Forever</a></h1>
                    img.img-responsive(src='/images/c11.jpg')
                    p.more
                        a(href='') Product Review: All baskets were not created equal
                    p.more
                        a(href='') Going Public: Out &amp; about with the founder of Public
                    img(src='/images/rolex.jpg' width="200" height="260")
                    p.more.lastmore
                        a(href='') Cycle Lane Defence: Know your rights
                .col-xs-12.col-sm-3.col-md-3.mini
                    // <h1 id="mtitle"><a href="">Forever</a></h1>
                    img.img-responsive(src='/images/alt29.jpg')
                    p.more
                        a(href='') Product Review: All baskets were not created equal
                    p.more
                        a(href='') Going Public: Out &amp; about with the founder of Public
                    img(src='/images/proenza.jpg' width="200" height="260")
                    p.more.lastmore
                        a(href='') Cycle Lane Defence: Know your rights
            // row
        // container.w
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        // Latest compiled and minified JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

