doctype html
html
  head
    meta(charset='utf-8')
    title welcome to yang site!
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans', rel='stylesheet')
    link(href='stylesheets/yangnine.css', type='text/css', rel='stylesheet')
  body
    .wrapper
      #name.colone
        .me
          h3#name Debbie Chong
          p#city New York, NY
          br
      .coltwo
        #info
          br
          br
          br
          #contact
            p
              a(href='mailto:debragchong@gmail.com') debragchong@gmail.com
              br
              a(href='https://www.instagram.com/mrdebbiechong/') instagram
              br
              a(href='https://www.linkedin.com/in/debbiechong8') linkedin
              br
              a(href='https://git.generalassemb.ly/misterdebbie') github
            p.bright
              b Hello
            p#yangstory
              I am a full stack developer, former fashion buyer. From art to fashion to tech, I forecast by interpreting and observing the surrounding environments to inform my design decisions. My outlook is bright and alive, responsive to the interactions I have with others. I am the conduit coursing between the digital world and the social by creating web applications that are mindful of the user. Leveraging my customer service skills in client building, I translate those insights into writing applications that consider the needs of a user. My strength lies in shaping an experience that presents data in a digestible manner while simultaneously rendering a front end interface that is aesthetically vibrant.
            p#present.bright
              b Present
            br
            p#student  Web Development Immersive at General Assembly, selected projects:
            .hoverr
              a(href='/style')
                  one
                span
                  img(src='http://res.cloudinary.com/devbov2b0/image/upload/v1520628600/yangprev_avrv5e.png', alt='model', height='200')

            .hoverr
              a(href='https://cleopatra88.herokuapp.com')
                  two
                span
                  img(src='http://res.cloudinary.com/devbov2b0/image/upload/v1520628527/usda_g3jzfq.png', alt='food icons', height='200')

            .hoverr
              a(href='samplefour')
                  three
                span
                  img(src='http://res.cloudinary.com/devbov2b0/image/upload/v1520628402/cloud_odjohp.png', alt='clouds', height='200')

            .hoverr
              a(href='https://puppyfinderapp.herokuapp.com/')
                  four
                span
                  img(src='http://res.cloudinary.com/devbov2b0/image/upload/v1520628465/puppy_s7gxzq.png', alt='puppies', height='200')

            .hoverr
              a(href='https://tranquil-mountain-41286.herokuapp.com/')
                  five
                span
                  img(src='http://res.cloudinary.com/devbov2b0/image/upload/v1520628633/store_zxfqdl.png', alt='items', height='200')

            p

            p.bright
              b Past

            p E-commerce Assistant at Opening Ceremony

            p Merchandise Coordinator at Saks Off 5th

            p Dairy and Raw Foods Buyer at Whole Foods

            p Women&apos;s Clothing and Accessories Buyer at Belmont Army

            p Stylist and Visuals Assistant at J.Crew
            
            p Assistant Manager at Abercrombie and Fitch
